{% extends 'main.html.twig' %}
{# This could use some work #}
{% block body %}
    <div class="main">
        <h1>{{ mode | trans }}</h1>
    </div>
    {% include 'status.html.twig' %}
    <div id='sysinfo'>
        <table border="0" cellpadding="3">
            <tr class='h'>
                <td colspan='2'><h1 class='p'>{{ 'RNA / REU / RWW SYSTEM' | trans }}</h1></td>
            </tr>
            <tr>
                <td class="e">{{ 'MySQL Version' | trans }}</td>
                <td class="v"><strong>{{ mysql_version }}</strong></td>
            </tr>
            <tr>
                <td class="e">{{ 'PHP Version' | trans }}</td>
                <td class="v"><strong>{{ php_version }}</strong></td>
            </tr>
            <tr>
                <td class="e">{{ 'Symfony Version' | trans }}</td>
                <td class="v"><strong>{{ symfonyVersion() }}</strong></td>
            </tr>
        </table>
    {{ info|raw }}
    </div>
    <script>
        $(document).ready( function() {
            setExternalLinks();
        });
    </script>

{% endblock %}
