{% extends 'popup.html.twig' %}
{% block body %}
<script>
//<![CDATA[
var box = [{ lat: {{ box[0][0] }}, lon: {{ box[0][1] }}}, { lat: {{ box[1][0] }}, lon: {{ box[1][1] }} }];
var center = { lat: {{ center[0] }}, lon: {{ center[1] }} };
var listener = {
    lat: {{ listener.lat }},
    lng: {{ listener.lon }},
    name: "{{ listener.name }}",
    qth: "{{ listener.qth }}{% if (listener.sp) %}, {{ listener.sp }}{% endif %}, {{ listener.itu }}"
};
var types = [ {{ types|keys|join(', ') }} ];
var signals = [
{% for row in signals %}{% set type = typeRepository.TypeForCode(row.type) %}
    { 'id':{{
        row.id }}, 'khz':{{
        row.khz }}, 'call':'{{
        row.call|raw }}', 'active':{{
        row.active ? '1' : '0' }}, 'className':'{{
        type.class|lower }} {{ row.active == '0' ? 'inactive' : 'active' }}', 'type':'{{
        type.title|trans }}{% if row.active == 0 %} {% trans %}(inactive){% endtrans %}{% endif %}', 'typeId':{{
        row.type }}, 'km': '{{
        row.dxKm }}', 'mi': '{{
        row.dxMiles }}', 'deg': '{{
        row.dxDeg }}', 'pwr':'{{
        row.pwr }}', 'qth':'{{
        row.qth|raw|unescape }}', 'icon':'{{
        type.class|lower }}', 'itu':'{{
        row.itu }}', 'sp':'{{
        row.sp }}', 'lat':{{
        row.lat }}, 'lon':{{
        row.lon }}, 'gsq':'{{
        row.gsq }}', 'lsb':'{{
        row.lsb }}', 'usb':'{{
        row.usb }}', 'sec':'{{
        row.sec }}', 'fmt':'{{
        row.format }}', 'heard':'{{
        row.latest }}', 'heard_in':'{{
        row.heardIn }}' },
{% endfor %} ];
$(document).ready( function() {
    var mapDiv = $('#map');
    setExternalLinks();
    setColumnSortActions();
    setColumnSortedClass();
    setClippedCellTitles();
    $(window)
        .resize(function() {
            mapDiv.height($(window).height() - 152);
            mapDiv.width($(window).width() - 410);
            $('#scrollablelist').height(mapDiv.height() + 48);
        })
        .trigger('resize');
});
//]]>
</script>
<script src="{{ asset('js/nite-overlay/nite-overlay.js') }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=SMap.init"></script>

<div class="main fullwidth">
    {% include 'logsession/tabs.html.twig' %}
    <div class="controlPanel">
        <div class="header">{{ mode|raw }}
            <div class="export">{% trans %}Export{% endtrans %}
                <a href="{{ url('logsession_signals_export_kml', { 'system' : system, 'id': id }) }}">
                    <span class='ui-icon ui-icon-document'></span>.kml
                </a>
            </div>
        </div>
        {% include 'maps/gmap_signals.twig' %}
    </div>
</div>
{% endblock %}
