<fieldset id="dateFields"{% if (not (has and has.errors)) %} style="display:none"{% endif %}>
    <legend>{% trans %}The following details are also required:{% endtrans %}</legend>
    <div{% if (has and has.YYYY) %} style="display:none"{% endif %}>
        {{ form_label(form.YYYY) }}{{ form_widget(form.YYYY) }}
    </div>
    <div{% if (has and has.MM) %} style="display:none"{% endif %}>
        {{ form_label(form.MM) }}{{ form_widget(form.MM) }}
    </div>
    <div{% if (has and has.DD) %} style="display:none"{% endif %}>
        {{ form_label(form.DD) }}{{ form_widget(form.DD) }}
    </div>
</fieldset>