{% if (entries) %}
<h2>{% trans %}Parser Results{% endtrans %}</h2>
<table class="results parse short" style="width: auto">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Time{% endtrans %}</th>
            <th>{% trans %}DT{% endtrans %}</th>
            <th>{% trans %}KHz{% endtrans %}</th>
            <th>{% trans %}ID{% endtrans %}</th>
            <th>{% trans %}QTH{% endtrans %}</th>
            <th>{% trans %}SP{% endtrans %}</th>
            <th>{% trans %}ITU{% endtrans %}</th>
            <th>{% trans %}KM{% endtrans %}</th>
            <th>{% trans %}Pwr{% endtrans %}</th>
            <th>{% trans %}Heard In{% endtrans %}</th>
            <th style="text-align: right">{% trans %}LSB{% endtrans %}</th>
            <th style="text-align: right">{% trans %}USB{% endtrans %}</th>
            <th>{% trans %}Sec{% endtrans %}</th>
            <th>{% trans %}Format{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
{% for e in entries %}
    {% set rowspan=(e.options|length>1 ? ' rowspan=' ~ e.options|length : '') %}
    {% set o = e.options[0] %}
    {% set hi=o.heard_in|replace({ (heardIn) : '<em>' ~ heardIn ~ '</em>'}) %}
        <tr class="{% if e.options|length>1 %}question{% endif %}{% if not o.active %} inactive{% endif %}">
            <td>{% if e.options|length == 1 %}<input type="checkbox" checked="checked" />{% else %}<input type="radio" name="row_{{ loop.index }}" />{% endif %}</td>
            <td class="txt_c text-nowrap">{{ e.YYYYMMDD }}{% if o.last_heard %}<br><i>({{ o.last_heard }}){% endif %}</i></td>
            <td>{{ e.time }}</td>
            <td>{{ e.daytime ? 'DT' : '' }}</td>
            <td>{{ 0 + o.khz }}</td>
            <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call }}</a></td>
            <td>{{ o.QTH }}</td>
            <td>{{ o.SP }}</td>
            <td>{{ o.ITU }}</td>
            <td>{{ o.dx_km }}</td>
            <td>{{ o.pwr ? o.pwr : '' }}</td>
            <td>{{ hi|raw }}</td>
            <td class="num">{{ e.LSB_approx }}{{ e.LSB }}
                {% if o.LSB_approx or o.LSB %}<br><i>({{ o.LSB_approx }}{{ o.LSB }})</i>{% endif %}
            </td>
            <td class="num">{{ e.USB_approx }}{{ e.USB }}
                {% if o.USB_approx or o.USB %}<br><i>({{ o.USB_approx }}{{ o.USB }})</i>{% endif %}
            </td>
            <td class="num">{{ e.sec }}{% if o.sec %}<br><i>({{ o.sec }}){% endif %}</i></td>
            <td class="text-nowrap">{{ e.fmt }}{% if o.format %}<br><i>({{ o.format }}){% endif %}</i></td>
        </tr>
{% for o in e.options %}{% if loop.index > 1 %}
        <tr class="question{% if not o.active %} inactive{% endif %}">
            <td><input type="radio" name="row_{{ loop.parent.loop.index }}" /></td>
            <td class="txt_c text-nowrap">{{ e.YYYYMMDD }}{% if o.last_heard %}<br><i>({{ o.last_heard }})</i>{% endif %}</td>
            <td>{{ e.time }}</td>
            <td>{{ e.daytime ? 'DT' : '' }}</td>
            <td>{{ 0 + o.khz }}</td>
            <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call }}</a></td>
            <td>{{ o.QTH }}</td>
            <td>{{ o.SP }}</td>
            <td>{{ o.ITU }}</td>
            <td>{{ o.dx_km }}</td>
            <td>{{ o.pwr ? o.pwr : '' }}</td>
            <td>{{ o.heard_in }}</td>
            <td class="num">{{ e.LSB_approx }}{{ e.LSB }}
                {% if o.LSB_approx or o.LSB %}<br><i>({{ o.LSB_approx }}{{ o.LSB }})</i>{% endif %}
            </td>
            <td class="num">{{ e.USB_approx }}{{ e.USB }}
                {% if o.USB_approx or o.USB %}<br><i>({{ o.USB_approx }}{{ o.USB }})</i>{% endif %}
            </td>
            <td class="num">{{ e.sec }}{% if o.sec %}<br><i>({{ o.sec }}){% endif %}</i></td>
            <td class="text-nowrap">{{ e.fmt }}{% if o.format %}<br><i>({{ o.format }}){% endif %}</i></td>
        </tr>
{% endif %}{% endfor %}
{% endfor %}
    </tbody>
</table>
{% endif %}