{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
    {% set form_class='listener_logs' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel logUpload">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
            {% include 'listener/logs_upload/errors.html.twig' %}
            <div id="form"{% if (errors) %} class='formatErrors'{% endif %}>
                {{ form_start(form) }}
                {{ form_row(form.id) }}
                {{ form_row(form.step)  }}
                <div id="format"{% if (step != 1) %} style="display:none"{% endif %}>
                    <div id="formatOld">{{ formatOld }}</div>
                    {{ form_widget(form.format) }}
                    {{ form_widget(form.saveFormat)  }}
                </div>
                <div{% if (step != 1) %} style="display:none"{% endif %}>
                    {{ form_widget(form.logs) }}
                </div>
                {% include('listener/logs_upload/datefields.html.twig') %}
                {% include('listener/logs_upload/entries.html.twig') %}
                <fieldset id="group_">
                    <span{% if (step != 1) %} style="display:none"{% endif %}>
                        {{ form_row(form.tabs2spaces) }}
                        {{ form_row(form.lineUp) }}
                        {{ form_row(form.parseLog) }}
                    </span>
                    <span{% if (step != 2) %} style="display:none"{% endif %}>
                        {{ form_row(form.back) }}
                        {{ form_row(form.submitLog) }}
                    </span>
                </fieldset>
                {{ form_end(form, {'render_rest': true}) }}
            </div>
        </div>
    </div>
</div>
{% if (form_logs_height != 420) %}
<style>.logUpload #form #form_logs { height: {{ form_logs_height }}px; }</style>
{% endif %}

<script>
$(document).ready( function() {
    initListenersLogUploadForm();
    setExternalLinks();
});
</script>
{% endblock %}