{% if (entries) %}
<h2>
    {% trans %}Review{% endtrans %} ({% trans with { '%COUNT%' : entries|length} %}%COUNT% Logs{% endtrans %})
    <div class="check-links">{% trans %}Select{% endtrans %} [
        <a href="#" id="check_good">{% trans %}Good{% endtrans %}</a> |
        <a href="#" id="check_warning">{% trans %}Warnings{% endtrans %}</a> |
        <a href="#" id="check_choice">{% trans %}Active Choices{% endtrans %}</a>
    ] &nbsp; &nbsp; &nbsp; &nbsp; {% trans %}Unselect{% endtrans %} [
        <a href="#" id="uncheck_choice">{% trans %}Choices{% endtrans %}</a> |
        <a href="#" id="uncheck_warning">{% trans %}Warnings{% endtrans %}</a> |
        <a href="#" id="uncheck_all">{% trans %}All{% endtrans %}</a>
    ]</div>
</h2>
<div class="content scroll" id="list">
    <div>
    <table class="results parse short" style="width: auto;">
        <thead>
            <tr>
                <th colspan="2">{% trans %}Action{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Time{% endtrans %}</th>
                <th>{% trans %}DT{% endtrans %}</th>
                <th>{% trans %}KHz{% endtrans %}</th>
                <th>{% trans %}ID{% endtrans %}</th>
                <th>{% trans %}QTH{% endtrans %}</th>
                <th>{% trans %}SP{% endtrans %}</th>
                <th>{% trans %}ITU{% endtrans %}</th>
                <th>{% trans %}GSQ{% endtrans %}</th>
                <th class="num">{% trans %}KM{% endtrans %}</th>
                <th class="num">{% trans %}Miles{% endtrans %}</th>
                <th>{% trans %}Pwr{% endtrans %}</th>
                <th>{% trans %}Heard In{% endtrans %}</th>
                <th class="num">{% trans %}LSB{% endtrans %}</th>
                <th class="num">{% trans %}USB{% endtrans %}</th>
                <th class="num">{% trans %}Sec{% endtrans %}</th>
                <th>{% trans %}Format{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
    {% set jump_anchor = 0 %}
    {% for e in entries %}
        {% set rowspan = (e.options|length>1 ? ' rowspan=' ~ e.options|length : '') %}
        {% if e.options|length == 0 %}
            {% set e = e|merge({ 'row' : 'row_' ~ (loop.index - 1) }) %}
            <tr class="unknown" id="row_{{ loop.index -1 }}">
                <th class="jump" id="jump_{{ jump_anchor }}">{% if jump_anchor > 0 %}<span class="up"></span>{% endif %}<br><span class="down"></span></th>
                <th class="error"><a href="{{ url('signal', { 'system' : system, 'id' : 'new', 'data' : e|json_encode() }) }}"
                   data-popup="1" class="add" title="{% trans %}Add new signal...{% endtrans %}">+</a>
                </th>
                <td class="txt_c text-nowrap">{{ e.YYYYMMDD }}</td>
                <td>{{ e.time }}</td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ e.KHZ is numeric ? 0 + e.KHZ : e.KHZ }}</td>
                <td>{{ e.ID }}</td>
                <td>{{ e.QTH }}</td>
                <td>{{ e.SP }}</td>
                <td>{{ e.ITU }}</td>
                <td>{{ e.GSQ }}</td>
                <td></td>
                <td>{{ e.pwr ? e.pwr : '' }}</td>
                <td></td>
                <td></td>
                <td class="num">{{ e.LSB_approx }}{{ e.LSB }}</td>
                <td class="num">{{ e.USB_approx }}{{ e.USB }}</td>
                <td class="num">{{ e.sec }}</td>
                <td class="text-nowrap">{{ e.fmt }}</td>
            </tr>
            {% set jump_anchor = jump_anchor + 1 %}
        {% elseif e.YYYYMMDD == 'ERROR' or e.KHZ is not numeric or not e.ID%}
            {% set e = e|merge({ 'row' : 'row_' ~ (loop.index - 1) }) %}
            {% set o = e.options[0] %}
            {% set hi=o.heard_in|replace({ (heardIn) : '<em>' ~ heardIn ~ '</em>'}) %}
            {% set lsb_check=(e.LSB and o.LSB and ((e.LSB + tol_offsets < o.LSB) or (e.LSB - tol_offsets > o.LSB))) %}
            {% set usb_check=(e.USB and o.USB and ((e.USB + tol_offsets < o.USB) or (e.USB - tol_offsets > o.USB))) %}
            {% set sec_check=(e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec))) %}
            {% set row_check=(lsb_check or usb_check or sec_check) %}
            {% set row_selected=((row_check == false and e.options|length == 1 and selected == 'UNSET') or (selected[loop.index -1] is defined and selected[loop.index -1])) %}
            {% set has_error = e.options|length > 1 %}
            {% set has_issue = has_error or row_check %}

            <tr class="unknown" id="row_{{ loop.index -1 }}">
                <th class="jump" id="jump_{{ jump_anchor }}">{% if jump_anchor > 0 %}<span class="up"></span>{% endif %}<br><span class="down"></span></th>
                <th class="error"><span style="color:red">!</span></th>
                <td class="txt_c text-nowrap">{% if e.YYYYMMDD == 'ERROR' %}<span style="color:red" title="Invalid Date">ERROR</span>{% else %}<i>{{ e.YYYYMMDD }}</i>{% endif %}{% if o.last_heard %}<br><span title="Last Heard Date">{{ o.last_heard }}</span>{% endif %}</td>
                <td>{{ e.time }}</td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ e.KHZ is numeric ? 0 + e.KHZ : e.KHZ }}</td>
                <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call }}</a></td>
                <td>{{ o.QTH }}</td>
                <td>{{ o.SP }}</td>
                <td>{{ o.ITU }}</td>
                <td>{{ o.GSQ }}</td>
                <td>{{ o.dx_km }}</td>
                <td>{{ o.dx_miles }}</td>
                <td>{{ o.pwr ? o.pwr : '' }}</td>
                <td>{{ hi|raw }}</td>
                <td class="num"><i{% if lsb_check %} class="check"{% endif %}>{{ e.LSB_approx }}{{ e.LSB }}</i>{% if o.LSB_approx or o.LSB %}<br>{{ o.LSB_approx }}{{ o.LSB }}{% endif %}</td>
                <td class="num"><i{% if usb_check %} class="check"{% endif %}>{{ e.USB_approx }}{{ e.USB }}</i>{% if o.USB_approx or o.USB %}<br>{{ o.USB_approx }}{{ o.USB }}{% endif %}</td>
                <td class="num"><i{%
                        if e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec)) %} class="check"{% endif
                    %}>{{ e.sec }}</i>{% if o.sec %}<br>{{ o.sec }}{% endif %}</td>
                <td class="text-nowrap"><i>{{ e.fmt }}</i>{% if o.format %}<br>{{ o.format }}{% endif %}</td>
            </tr>
            {% set jump_anchor = jump_anchor + 1 %}
        {% else %}
        {% set o = e.options[0] %}
            {% set hi=o.heard_in|replace({ (heardIn) : '<em>' ~ heardIn ~ '</em>'}) %}
            {% set lsb_check=(e.LSB and o.LSB and ((e.LSB + tol_offsets < o.LSB) or (e.LSB - tol_offsets > o.LSB))) %}
            {% set usb_check=(e.USB and o.USB and ((e.USB + tol_offsets < o.USB) or (e.USB - tol_offsets > o.USB))) %}
            {% set sec_check=(e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec))) %}
            {% set row_check=(lsb_check or usb_check or sec_check) %}
            {% set row_selected=((row_check == false and e.options|length == 1 and selected == 'UNSET') or (selected[loop.index -1] is defined and selected[loop.index -1])) %}
            {% set has_error = e.options|length > 1 %}
            {% set has_issue = has_error or row_check %}

            <tr class="{% if e.options|length>1 %}choice start{% endif %}{% if not o.active %} inactive{% endif %}{% if has_error %} question{% endif %}" id="row_{{ loop.index -1 }}">
                <th class="jump"{% if has_issue %} id="jump_{{ jump_anchor }}"{% endif %}>
                    {% if has_issue %}{% if jump_anchor > 0 %}<span class="up"></span>{% endif %}<br><span class="down"></span>{% endif %}
                </th>
                <th class="{% if has_error %}error{% elseif row_check %}warning{% else %}good{% endif %}">
                    <input type="checkbox" title="{% trans %}Include this log{% endtrans %}" data-idx="{{ loop.index -1 }}"
                     value="{{ loop.index -1 }}|{{ o.ID }}"{% if row_selected %} checked="checked"{% endif %}/>
                </th>
                <td class="txt_c text-nowrap"><i>{{ e.YYYYMMDD }}</i>{% if o.last_heard %}<br><span title="Last Heard Date">{{ o.last_heard }}</span>{% endif %}</td>
                <td><i>{{ e.time }}</i></td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ 0 + o.khz }}</td>
                <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call }}</a></td>
                <td>{{ o.QTH }}</td>
                <td>{{ o.SP }}</td>
                <td>{{ o.ITU }}</td>
                <td>{{ o.GSQ }}</td>
                <td>{{ o.dx_km }}</td>
                <td>{{ o.dx_miles }}</td>
                <td>{{ o.pwr ? o.pwr : '' }}</td>
                <td>{{ hi|raw }}</td>
                <td class="num"><i{% if lsb_check %} class="check"{% endif %}>{{ e.LSB_approx }}{{ e.LSB }}</i>{% if o.LSB_approx or o.LSB %}<br>{{ o.LSB_approx }}{{ o.LSB }}{% endif %}</td>
                <td class="num"><i{% if usb_check %} class="check"{% endif %}>{{ e.USB_approx }}{{ e.USB }}</i>{% if o.USB_approx or o.USB %}<br>{{ o.USB_approx }}{{ o.USB }}{% endif %}</td>
                <td class="num"><i{%
                    if e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec)) %} class="check"{% endif
                %}>{{ e.sec }}</i>{% if o.sec %}<br>{{ o.sec }}{% endif %}</td>
                <td class="text-nowrap"><i>{{ e.fmt }}</i>{% if o.format %}<br>{{ o.format }}{% endif %}</td>
            </tr>
            {% if has_issue %}{% set jump_anchor = jump_anchor + 1 %}{% endif %}
    {% for o in e.options %}{% if loop.index > 1 %}
            <tr class="choice{% if not o.active %} inactive{% endif %}{% if loop.last %} end{% endif %}">
                <th class="jump"></th>
                <th class="error">
                    <input type="checkbox" title="{% trans %}Include this log{% endtrans %}" data-idx="{{ loop.parent.loop.index -1 }}" value="{{ loop.parent.loop.index -1 }}|{{ o.ID }}" /></th>
                <td class="txt_c text-nowrap"><i>{{ e.YYYYMMDD }}</i>{% if o.last_heard %}<br>{{ o.last_heard }}{% endif %}</td>
                <td><i>{{ e.time }}</i></td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ 0 + o.khz }}</td>
                <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call }}</a></td>
                <td>{{ o.QTH }}</td>
                <td>{{ o.SP }}</td>
                <td>{{ o.ITU }}</td>
                <td>{{ o.GSQ }}</td>
                <td>{{ o.dx_km }}</td>
                <td>{{ o.dx_miles }}</td>
                <td>{{ o.pwr ? o.pwr : '' }}</td>
                <td>{{ o.heard_in }}</td>
                <td class="num"><i{%
                    if e.LSB and o.LSB and ((e.LSB + tol_offsets < o.LSB) or (e.LSB - tol_offsets > o.LSB)) %} class="check"{% endif
                %}>{{ e.LSB_approx }}{{ e.LSB }}</i>{% if o.LSB_approx or o.LSB %}<br>{{ o.LSB_approx }}{{ o.LSB }}{% endif %}</td>
                <td class="num"><i{%
                    if e.USB and o.USB and ((e.USB + tol_offsets < o.USB) or (e.USB - tol_offsets > o.USB)) %} class="check"{% endif
                %}>{{ e.USB_approx }}{{ e.USB }}</i>{% if o.USB_approx or o.USB %}<br>{{ o.USB_approx }}{{ o.USB }}{% endif %}</td>
                <td class="num"><i{%
                    if e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec)) %} class="check"{% endif
                %}>{{ e.sec }}</i>{% if o.sec %}<br>{{ o.sec }}{% endif %}</td>
                <td class="text-nowrap"><i>{{ e.fmt }}</i>{% if o.format %}<br>{{ o.format }}{% endif %}</td>
            </tr>
    {% endif %}{% endfor %}
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
    <div id="shim"></div>
</div>
</div>
<h2>{% trans %}Issues / Skipped logs{% endtrans %} (<span id="issueCount"></span>) <small>[ <a id="copyRemainder" href="#">Copy</a> ]</small></h2>
<label for="remainder_format" class="sr-only">{% trans %}Log Format{% endtrans %}</label>
<input type='text' style="width:100%;height:2em;padding: 0; margin-bottom: 0; font-family: 'Courier New bold', Courier, monospace; font-size:12px" id="remainder_format" />
<label for="remainder_logs" class="sr-only">{% trans %}Log Entries{% endtrans %}</label>
<textarea style="width:100%;height:10em;padding: 0; margin-top: 0; font-family: 'Courier New', Courier, monospace;font-size:12px" id="remainder_logs"></textarea>

<script>
$(document).ready( function() {
    logsShowRemainder();
    $('#list').height($(window).height() - 390);
    $('#shim').height($(window).height() - 490)
    $(window).resize(function () {
        $('#list').height($(window).height() - 390);
        $('#shim').height($(window).height() - 490)
    });
});
</script>
{% endif %}