{% if (entries) %}
{% if (multiOperator == 'Y' or comment) %}
<div>
    {% if (multiOperator == 'Y') %}<strong>Operator:</strong> {{ operator.getFormattedNameAndLocation }}{% endif %}
    {% if comment %}<div class="float-right"><strong>Comment:</strong> {{ comment }}</div>{% endif %}
</p>
{% endif %}
<h2>
    {% trans %}Review{% endtrans %} ({% trans with { '%COUNT%' : entries|length} %}%COUNT% Logs{% endtrans %})
    <div class="check-links">{% trans %}Select{% endtrans %} [
        <a href="#" id="check_good">{% trans %}Good{% endtrans %}</a> |
        <a href="#" id="check_warning">{% trans %}Warnings{% endtrans %}</a> |
        <a href="#" id="check_choice">{% trans %}Active Choices{% endtrans %}</a>
    ] &nbsp; &nbsp; &nbsp; &nbsp; {% trans %}Unselect{% endtrans %} [
        <a href="#" id="uncheck_choice">{% trans %}Choices{% endtrans %}</a> |
        <a href="#" id="uncheck_warning">{% trans %}Warnings{% endtrans %}</a> |
        <a href="#" id="uncheck_all">{% trans %}All{% endtrans %}</a>
    ]</div>
</h2>
<div class="content scroll" id="list">
    <div>
    <table class="results parse short" style="width: auto;">
        <thead>
            <tr>
                <th colspan="2">{% trans %}Action{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Time{% endtrans %}</th>
                <th>{% trans %}DT{% endtrans %}</th>
                <th>{% trans %}KHz{% endtrans %}</th>
                <th>{% trans %}ID{% endtrans %}</th>
                <th>{% trans %}QTH{% endtrans %}</th>
                <th>{% trans %}SP{% endtrans %}</th>
                <th>{% trans %}ITU{% endtrans %}</th>
                <th>{% trans %}Region{% endtrans %}</th>
                <th>{% trans %}GSQ{% endtrans %}</th>
                <th>{% trans %}Pwr{% endtrans %}</th>
                <th>{% trans %}Heard In{% endtrans %}</th>
                <th class="num">{% trans %}LSB{% endtrans %}</th>
                <th class="num">{% trans %}USB{% endtrans %}</th>
                <th class="num">{% trans %}Sec{% endtrans %}</th>
                <th>{% trans %}Format{% endtrans %}</th>
                <th class="num">{% trans %}KM{% endtrans %}</th>
                <th class="num">{% trans %}Miles{% endtrans %}</th>
                <th class="num">{% trans %}Deg{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
    {% set jump_anchor = 0 %}
    {% for e in entries %}
        {% set rowspan = (e.options|length>1 ? ' rowspan=' ~ e.options|length : '') %}
        {%  if e.comment %}
            {# Ignore #}
        {% elseif e.options|length == 0 %}
{# START - No matches #}
            {% set e = e|merge({ 'row' : 'row_' ~ (loop.index - 1) }) %}

            <tr class="unknown start" id="row_{{ loop.index -1 }}" data-issues="Unknown Signal">
                <th class="jump" id="jump_{{ jump_anchor }}">{% if jump_anchor > 0 %}<span class="up"></span>{% endif %}<br><span class="down"></span></th>
                <th class="error"><a href="{{ url('signal', { 'system' : system, 'id' : 'new', 'data' : e|json_encode() }) }}"
                   data-popup="1" class="add" title="{% trans %}Add new signal...{% endtrans %}">+</a>
                </th>
                <td class="txt_c text-nowrap">{{ e.YYYYMMDD }}</td>
                <td>{{ e.time }}</td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ e.KHZ is numeric ? 0 + e.KHZ : e.KHZ }}</td>
                <td>{{ e.ID|raw }}</td>
                <td>{{ e.QTH }}</td>
                <td>{{ e.SP }}</td>
                <td>{{ e.ITU }}</td>
                <td>{{ e.region }}</td>
                <td>{{ e.GSQ }}</td>
                <td>{{ e.pwr ? e.pwr : '' }}</td>
                <td></td>
                <td class="num">{{ e.LSB_approx ? '~' : '' }}{{ e.LSB }}</td>
                <td class="num">{{ e.USB_approx ? '~' : '' }}{{ e.USB }}</td>
                <td class="num">{{ e.sec }}</td>
                <td class="text-nowrap">{{ e.fmt }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% set jump_anchor = jump_anchor + 1 %}
{# END - No matches for signal #}

{# START - Errors in Date, Time, KHZ or ID #}
        {% elseif (e.YYYYMMDD|slice(0,1) == '!' or e.time|slice(0,1) == '!' or e.KHZ is not numeric or e.ID == '') and e.comment == 0 %}
            {% set e = e|merge({ 'row' : 'row_' ~ (loop.index - 1) }) %}
            {% set o = e.options[0] %}
            {% set hi=o.heard_in|replace({ (heardIn) : '<em>' ~ heardIn ~ '</em>'}) %}
            {% set time_check = e.time|slice(0,1) == '!' %}
            {% set lsb_check=(e.LSB and o.LSB and ((e.LSB + tol_offsets < o.LSB) or (e.LSB - tol_offsets > o.LSB))) %}
            {% set usb_check=(e.USB and o.USB and ((e.USB + tol_offsets < o.USB) or (e.USB - tol_offsets > o.USB))) %}
            {% set sec_check=(e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec))) %}
            {% set row_check=(time_check or lsb_check or usb_check or sec_check) %}
            {% set row_selected=((row_check == false and e.options|length == 1 and selected == 'UNSET') or (selected[loop.index -1] is defined and selected[loop.index -1])) %}
            {% set has_error = e.options|length > 1 %}
            {% set has_issue = has_error or row_check %}

            <tr class="unknown start" id="row_{{ loop.index -1 }}" data-issues="Error with Date, Time, Frequency or Ident">
                <th class="jump" id="jump_{{ jump_anchor }}">{% if jump_anchor > 0 %}<span class="up"></span>{% endif %}<br><span class="down"></span></th>
                <th class="error"><span style="color:red">!</span></th>
                <td class="txt_c text-nowrap">{% if e.YYYYMMDD|slice(0,1) == '!' %}<i class="check" title="Invalid Date">{{ e.YYYYMMDD|slice(1) }}</i>{% else %}<i>{{ e.YYYYMMDD }}</i>{% endif %}{% if o.last_heard %}<br><span title="Last Heard Date">{{ o.last_heard }}</span>{% endif %}</td>
                <td>{% if e.time|slice(0,1) == '!' %}<i class="check" title="Invalid Time">{{ e.time|slice(1) }}</i>{% else %}{{ e.time }}{% endif %}</td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ e.KHZ is numeric ? 0 + e.KHZ : e.KHZ }}</td>
                <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call|raw }}</a></td>
                <td>{{ o.QTH }}</td>
                <td>{{ o.SP }}</td>
                <td>{{ o.ITU }}</td>
                <td>{{ o.region }}</td>
                <td>{{ o.GSQ }}</td>
                <td>{{ o.pwr ? o.pwr : '' }}</td>
                <td>{{ hi|raw }}</td>
                <td class="num"><i{% if lsb_check %} class="check"{% endif %}>{{ e.LSB_approx ? '~' : '' }}{{ e.LSB }}</i>{% if o.LSB_approx or o.LSB %}<br>{{ o.LSB_approx ? '~' : '' }}{{ o.LSB }}{% endif %}</td>
                <td class="num"><i{% if usb_check %} class="check"{% endif %}>{{ e.USB_approx ? '~' : '' }}{{ e.USB }}</i>{% if o.USB_approx or o.USB %}<br>{{ o.USB_approx ? '~' : '' }}{{ o.USB }}{% endif %}</td>
                <td class="num"><i{%
                        if e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec)) %} class="check"{% endif
                    %}>{{ e.sec }}</i>{% if o.sec %}<br>{{ o.sec }}{% endif %}</td>
                <td class="text-nowrap"><i>{{ e.fmt }}</i>{% if o.format %}<br>{{ o.format }}{% endif %}</td>
                <td class="personalise">{{ o.dx_km }}</td>
                <td class="personalise">{{ o.dx_miles }}</td>
                <td class="personalise">{{ o.dx_deg }}</td>
            </tr>
            {% set jump_anchor = jump_anchor + 1 %}
{# END - Errors in Date, Time, KHZ or ID #}
        {% elseif e.comment == 0 %}

{# START First Valid Option #}
        {% set o = e.options[0] %}
            {% set hi = o.heard_in|replace({ (heardIn) : '<em>' ~ heardIn ~ '</em>'}) %}
            {% set time_check = e.time|slice(0,1) == '!' %}
            {% set lsb_check = (e.LSB and e.LSB is numeric and o.LSB and ((e.LSB + tol_offsets < o.LSB) or (e.LSB - tol_offsets > o.LSB))) %}
            {% set usb_check = (e.USB and e.USB is numeric and o.USB and ((e.USB + tol_offsets < o.USB) or (e.USB - tol_offsets > o.USB))) %}
            {% set sec_check = (e.sec and e.sec is numeric and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec))) %}
            {% set active_check = false %}
            {% for otmp in e.options %}{% if otmp.active == false %}{% set active_check = true %}{% endif %}{% endfor %}
            {% set row_check = (time_check or lsb_check or usb_check or sec_check or active_check) %}
            {% set row_selected = ((row_check == false and e.options|length == 1 and selected == 'UNSET') or (selected[loop.index -1] is defined and selected[loop.index -1])) %}
            {% set has_error = e.options|length > 1 %}
            {% set has_issue = has_error or row_check %}
            {% if e.time|slice(0,1) == '!' %}{% set issues = issues|merge(['Invalid Time']) %}{% endif %}
            {% set issues = [] %}
            {% if e.options|length > 1 %}{% set issues = issues|merge(['More than one possible match for ident and frequency']) %}{% endif %}
            {% if lsb_check %}{% set issues = issues|merge(['LSB changed more than ' ~ tol_offsets ~ 'Hz']) %}{% endif %}
            {% if usb_check %}{% set issues = issues|merge(['USB changed more than ' ~ tol_offsets ~ 'Hz']) %}{% endif %}
            {% if sec_check %}{% set issues = issues|merge(['Cycle time changed more than ' ~ tol_secs ~ ' sec']) %}{% endif %}
            {% if active_check %}
                {% if e.options|length > 1 %}
                    {% set issues = issues|merge(['At least one candidate is reported to be inactive']) %}
                {% else %}
                    {% set issues = issues|merge(['Signal is reported to be inactive']) %}
                {% endif %}
            {% endif %}

            <tr class="{% if e.options|length>1 %}choice start{% endif %}{% if e.options[0].active == false %} inactive{% endif %}{% if has_error %} question{% endif %}"
                id="row_{{ loop.index -1 }}" data-issues="{{ issues|join(', ') }}"{% if e.options[0].active == false %} title="Inactive"{% endif %}
            >
                <th class="jump"{% if has_issue %} id="jump_{{ jump_anchor }}"{% endif %}>
                    {% if has_issue %}{% if jump_anchor > 0 %}<span class="up"></span>{% endif %}<br><span class="down"></span>{% endif %}
                </th>
                <th class="{% if has_error %}error{% elseif row_check %}warning{% else %}good{% endif %}">
                    <input type="checkbox" title="{% trans %}Include this log{% endtrans %}" data-idx="{{ loop.index -1 }}"
                     value="{{ loop.index -1 }}|{{ o.ID }}"{% if row_selected %} checked="checked"{% endif %}/>
                </th>
                <td class="txt_c text-nowrap"><i>{{ e.YYYYMMDD }}</i>{% if o.last_heard %}<br><span title="Last Heard Date">{{ o.last_heard }}</span>{% endif %}</td>
                <td>{{ e.issues | join(', ') }}<i>{{ e.time }}</i></td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ 0 + o.khz }}</td>
                <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call|raw }}</a></td>
                <td>{{ o.QTH }}</td>
                <td>{{ o.SP }}</td>
                <td>{{ o.ITU }}</td>
                <td>{{ o.region }}</td>
                <td>{{ o.GSQ }}</td>
                <td>{{ o.pwr ? o.pwr : '' }}</td>
                <td>{{ hi|raw }}</td>
                <td class="num"><i{% if lsb_check %} class="check" title="LSB differs more than {{ tol_offsets }}Hz"{% endif %}>{{ e.LSB_approx ? '~' : '' }}{{ e.LSB }}</i>{% if o.LSB_approx or o.LSB %}<br>{{ o.LSB_approx ? '~' : '' }}{{ o.LSB }}{% endif %}</td>
                <td class="num"><i{% if usb_check %} class="check" title="USB differs more than {{ tol_offsets }}Hz"{% endif %}>{{ e.USB_approx ? '~' : '' }}{{ e.USB }}</i>{% if o.USB_approx or o.USB %}<br>{{ o.USB_approx ? '~' : '' }}{{ o.USB }}{% endif %}</td>
                <td class="num"><i{% if sec_check %} class="check" title="Cycle time differs more than {{ tol_secs }} sec"{% endif %}>{{ e.sec }}</i>{% if o.sec %}<br>{{ o.sec }}{% endif %}</td>
                <td class="text-nowrap"><i>{{ e.fmt }}</i>{% if o.format %}<br>{{ o.format }}{% endif %}</td>
                <td class="personalise">{{ o.dx_km }}</td>
                <td class="personalise">{{ o.dx_miles }}</td>
                <td class="personalise">{{ o.dx_deg }}</td>
            </tr>
            {% if has_issue %}{% set jump_anchor = jump_anchor + 1 %}{% endif %}
{# END First Valid option #}

{# START Other Valid Options #}
        {% for o in e.options %}{% if loop.index > 1 %}
            {% set issues = [] %}
            {% set lsb_check = (e.LSB and o.LSB and ((e.LSB + tol_offsets < o.LSB) or (e.LSB - tol_offsets > o.LSB))) %}
            {% set usb_check = (e.USB and o.USB and ((e.USB + tol_offsets < o.USB) or (e.USB - tol_offsets > o.USB))) %}
            {% set sec_check = (e.sec and o.sec and ((e.sec + tol_secs < o.sec) or (e.sec - tol_secs > o.sec))) %}
            {% set active_check = o.active == false%}

            <tr class="choice{% if not o.active %} inactive{% endif %}{% if loop.last %} end{% endif %}"
                data-issues=""{% if active_check %} title="Inactive"{% endif %}
            >
                <th class="jump"></th>
                <th class="error">
                    <input type="checkbox" title="{% trans %}Include this log{% endtrans %}" data-idx="{{ loop.parent.loop.index -1 }}" value="{{ loop.parent.loop.index -1 }}|{{ o.ID }}" /></th>
                <td class="txt_c text-nowrap"><i>{{ e.YYYYMMDD }}</i>{% if o.last_heard %}<br>{{ o.last_heard }}{% endif %}</td>
                <td><i>{{ e.time }}</i></td>
                <td>{{ e.daytime ? 'DT' : '' }}</td>
                <td>{{ 0 + o.khz }}</td>
                <td><a href="{{ url('signal', { 'system' : system, 'id' : o.ID }) }}" data-popup="1">{{ o.call|raw }}</a></td>
                <td>{{ o.QTH }}</td>
                <td>{{ o.SP }}</td>
                <td>{{ o.ITU }}</td>
                <td>{{ o.region }}</td>
                <td>{{ o.GSQ }}</td>
                <td>{{ o.pwr ? o.pwr : '' }}</td>
                <td>{{ o.heard_in }}</td>
                <td class="num"><i{% if lsb_check %} class="check" title="LSB differs more than {{ tol_offsets }}Hz"{% endif %}>{{ e.LSB_approx ? '~' : '' }}{{ e.LSB }}</i>{% if o.LSB_approx or o.LSB %}<br>{{ o.LSB_approx ? '~' : '' }}{{ o.LSB }}{% endif %}</td>
                <td class="num"><i{% if usb_check %} class="check" title="USB differs more than {{ tol_offsets }}Hz"{% endif %}>{{ e.USB_approx ? '~' : '' }}{{ e.USB }}</i>{% if o.USB_approx or o.USB %}<br>{{ o.USB_approx ? '~' : '' }}{{ o.USB }}{% endif %}</td>
                <td class="num"><i{% if sec_check %} class="check" title="Cycle time differs more than {{ tol_secs }} sec"{% endif %}>{{ e.sec }}</i>{% if o.sec %}<br>{{ o.sec }}{% endif %}</td>
                <td class="text-nowrap"><i>{{ e.fmt }}</i>{% if o.format %}<br>{{ o.format }}{% endif %}</td>
                <td class="personalise">{{ o.dx_km }}</td>
                <td class="personalise">{{ o.dx_miles }}</td>
                <td class="personalise">{{ o.dx_deg }}</td>
            </tr>
        {% endif %}{% endfor %}
{# END Other Valid Options #}

        {% endif %}

    {% endfor %}
        </tbody>
    </table>
    <div id="shim"></div>
</div>
</div>
    <small style="color:#444;float: right">Actions: [ <a id="copyDetails" href="#">Copy Details</a> | <a id="copyEmail" href="#">Prepare Email</a> ]</small>
<h2>{% trans %}Issues / Skipped logs{% endtrans %} (<span id="issueCount"></span>)</h2>
<label for="remainder_format" class="sr-only">{% trans %}Log Format{% endtrans %}</label>
<input type='hidden' id="logOwner" value="{{ logOwner }}" />
<input type='hidden' id="logOwner" value="{{ logOwner }}" />
<input type='hidden' id="logEmail" value="{{ logEmail }}" />
<input type='hidden' id="userName" value="{{ userName }}" />
<input type='text' style="width:100%;height:2em;padding: 0; margin-bottom: 0; font-family: 'Courier New bold', Courier, monospace; font-size:12px" id="remainder_format" />
<label for="remainder_logs" class="sr-only">{% trans %}Log Entries{% endtrans %}</label>
<textarea style="width:100%;height:10em;padding: 0; margin-top: 0; font-family: 'Courier New', Courier, monospace;font-size:12px" id="remainder_logs"></textarea>

<script>
$(document).ready( function() {
    logsShowRemainder();
    $('#list').height($(window).height() - 390);
    $('#shim').height($(window).height() - 490)
    $(window).resize(function () {
        $('#list').height($(window).height() - 390);
        $('#shim').height($(window).height() - 490)
    });
});
</script>
{% endif %}