<h2>{% trans %}Results{% endtrans %}</h2>
<h3>{% trans %}Statistics for this update{% endtrans %}</h3>
{% if (stats) %}
<table class="results stats very-short">
    <thead>
        <tr>
            <th>{% trans %}Statistic{% endtrans %}</th>
            <th class="num">{% trans %}Value{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% trans %}Loggings checked{% endtrans %}</td>
            <td class="num">{{ stats.logs }}</td>
        </tr>
        <tr>
            <td>{% trans %}Exact Duplicates{% endtrans %}</td>
            <td class="num">{{ stats.duplicates }}</td>
        </tr>
        <tr>
            <td>{% trans %}Grouped - updated and placed inside a log session{% endtrans %}</td>
            <td class="num">{{ stats.grouped }}</td>
        </tr>
        <tr>
            <td>{% trans %}First for State or ITU{% endtrans %}</td>
            <td class="num">{{ stats.first_for_place }}</td>
        </tr>
        <tr>
            <td>{% trans %}First for Listener{% endtrans %}</td>
            <td class="num">{{ stats.first_for_listener }}</td>
        </tr>
        <tr>
            <td>{% trans %}Repeat logging for Listener{% endtrans %}</td>
            <td class="num">{{ stats.repeat_for_listener }}</td>
        </tr>
        <tr>
            <td>{% trans %}Latest signal logging{% endtrans %}</td>
            <td class="num">{{ stats.latest_for_signal }}</td>
        </tr>
        <tr>
            <td>{% trans %}Unique signals{% endtrans %}</td>
            <td class="num">{{ stats.signals }}</td>
        </tr>
    </tbody>
</table>

<h3>{% trans %}Statistics for listener{% endtrans %}</h3>
<table class="results stats very-short">
    <thead>
        <tr>
            <th>{% trans %}Statistic{% endtrans %}</th>
            <th class="num">{% trans %}Value{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% trans %}Total Signals{% endtrans %}</td>
            <td class="num">{{ stats.total_signals | number_format(0, '', ',') }}</td>
        </tr>
        <tr>
            <td>{% trans %}Total Logs{% endtrans %}</td>
            <td class="num">{{ stats.total_logs | number_format(0, '', ',') }}</td>
        </tr>
    </tbody>
</table>
{% else %}
Error - unable to find an unprocessed session
{% endif %}
<div id="form">
    <fieldset id="group_">
        <div><button type="button" id="form_close" name="form[close]" class="button small" onclick="window.close()">{% trans %}Done{% endtrans %}</button></div>
    </fieldset>
</div>