{# Include our twig widget customisations #}
{% form_theme form 'forms/custom.html.twig' %}
<div class="controlPanel {{ form_class }}">
    <div class="header">{{ form_title }}</div>
    <div class="content clearfix">
{{ form_start(form) }}
        <div id="form">
{% include 'forms/paging.html.twig' %}
            {{ form_row(form.show) }}
            {{ form_row(form.q) }}
            {{ form_row(form.type) }}
            {% if system == 'rww' %}
                {{ form_row(form.region) }}
            {% endif %}
            {{ form_row(form.country) }}
            <div>
                {{ form_label(form.timezone) }}
                {{ form_widget(form.timezone) }}
            </div>
            {{ form_row(form.active) }}
            {% if isAdmin %}
                {% if system == 'rww' %}
                    {{ form_row(form.has_logs) }}
                {% endif %}
                {{ form_row(form.has_map_pos) }}
            {% endif %}
            <fieldset class="actionButtons">
                {{ form_widget(form.submit) }}
                {{ form_widget(form.save) }}
                {{ form_widget(form.clear) }}
            </fieldset>
        </div>
{{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
