{% if listeners|length > 0 %}
{% include 'listeners/actions.html.twig' %}
<table class="listener results">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th{%  if key and column.order %} id="{{ key }}_{{ column.order }}"{% endif %}
{% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}
>{{ column.label|raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for listener in listeners %}
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td{% if key == 'name' %} title="{{ listener.primaryQth ? 'Primary Location' : 'Secondary Location' }}" class="{{ listener.primaryQth ? 'primaryQth' : 'secondaryQth' }}">{% else %}{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>{% endif %}
{{ attribute(listener, column.field)|raw }}</td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% include 'listeners/actions.html.twig' %}
{% else %}
    <p class="no-results">{% trans %}(No listeners found matching your criteria){% endtrans %}</p>
{% endif %}