{% extends 'main.html.twig' %}

{% block body %}
<div class="main">
<h1>{{ mode | trans }}</h1>
{% include 'status.html.twig' %}
{% include 'listeners/latestlogs.html.twig' %}
{% include 'listeners/addlogfor.html.twig' %}
{% if not isAdmin %}
<ul>
    <li>{{ "Log and station counts are updated each time new log data is added - figures are for logs in the system at this time." | trans }}</li>
    <li>{{ "To see stats for different types of signals, check the boxes shown for 'Types' below." | trans }}</li>
    <li>{{ "This report prints best in Portrait." | trans }}</li>
</ul>
{% endif %}
{% set form_title='Customise %s Listeners List' | trans | format(system | upper) %}
{% set form_class='listener_list' %}
<div class="row">
    <div class="small-12 medium-8 columns">
        {% include 'forms/listeners/form.html.twig' %}
    </div>
    <div class="small-12 medium-4 columns">
        {% include 'listeners/maps.html.twig' %}
    </div>
</div>

{% include 'listeners/grid.html.twig' %}
{% include 'listeners/actions.html.twig' %}

<script>
    $(document).ready( function() {
        setPagingActions();
        setFormTypesStyles();
        setFormTypesDefault();
        setFormTypesAllAction();
        setFormCountryAction();
        setFormRegionAction();
        setFormResetAction('listeners');
        setColumnSortActions();
        setColumnSortedClass();
        setExternalLinks();
        $('#form_paging_status').html('{{ 'of %s listeners' | trans | format(results.total) }}');
    });
</script>
</div>
{% endblock %}
