{% extends 'main.html.twig' %}

{% block body %}
<div class="main">
    <div class="text-center center-block">
        {% include 'status.html.twig' %}
        <h1>{{ mode | trans }}</h1>
        {% if isAdmin %}
            {% include 'listeners/latestlogs.html.twig' %}
            {% include 'listeners/addlogfor.html.twig' %}
        {% else %}
            <p>
                {{ "<b>Signal Types</b> lets you view stats for specified signal types." | trans | raw }}<br />
                {{ "Log and station counts are updated each time new log data is added." | trans | raw }}<br />
                {{ "<b>Status</b> filter is disabled when <b>Search For</b> filter is used." | trans | raw }}<br />
            </p>
        {% endif %}
        {% set form_title='Customise %s Listeners List' | trans | format(system | upper) %}
        {% set form_class='listener_list' %}
        {% include 'listeners/form.html.twig' %}
    </div>
    <div class="clearfix">
        <div class="float-left margin-left-1">{% include 'listeners/tabs.html.twig' %}</div>
        <div class="float-right margin-right-1">{% include 'listeners/actions.html.twig' %}</div>
    </div>
    <div class="listeners_container">
        {% if args['show'] in ['', 'list'] %}{% include 'listeners/list.html.twig' %}{% endif %}
        {% if args['show'] == 'map' %}{% include 'listeners/map.html.twig' %}{% endif %}
    </div>
</div>
<script>
    LISTENERS_FORM.init({{ results.total }});
</script>

{% endblock %}
