{%  if isAdmin %}
    <div class="links_left row">
        <div class="small-12 medium-1"><strong>{{ "Latest Logs:" | trans }}</strong></div>
        <div class="small-12 medium-11">
            {% for l in latestLogs['listeners'] %}
                <a href="{{ url('listener_logs', { 'system' : system, 'id': l.id }) }}" data-popup="1">{{ l.name|raw }}</a> ({{ l.sp ? l.sp : l.itu }}){% if not loop.last %} &nbsp; | &nbsp; {% endif %}
            {% endfor %} &nbsp; <strong>({{ latestLogs['date'] }})</strong>
        </div>
    </div>
{% endif %}
