<style>
@media screen and (max-width: {{ width.narrow -1 }}px) {
    .listeners_container #wide {
        display: none;
    }
}
@media screen and (min-width: {{ width.narrow }}px) and (max-width: {{ width.medium -1 }}px) {
    .listeners_container table tbody .rowspan2 {
        border-bottom: 1px solid transparent !important;
    }
    .listeners_container #narrow,
    .listeners_container .l2 {
        display: none;
    }
}
@media screen and (min-width: {{ width.medium }}px) {
    .listeners_container #narrow,
    .listeners_container .l2_alt {
        display: none;
    }
}
</style>

<h2>{{ system|upper }} {% trans %}Listeners and Locations{% endtrans %}</h2>
{% if listeners|length > 0 %}
<table id="wide" class="listener results">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.type))) %}
            <th{%
                if key and column.order
            %} id="{{ key }}|{{ column.order }}"{%
                endif
            %}{%
                if column.th_class or column.sort
            %} class="{{ column.th_class }}{%
                    if column.sort
                %} sort{%
                    endif
            %}"{%
                endif
            %}{%
                if column.tooltip
            %} title="{{ column.tooltip | trans }}"{%
                endif
            %}>{% if 'txt_vertical' in column.th_class %}<div>{{ column.label | trans | raw }}</div>{% else %}{{ column.label | trans | raw }}{% endif %}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for l in listeners %}
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.type))) %}
    {% set value = attribute(l, column.field) %}
    {% if (column.highlight and args[column.highlight] is defined and args[column.highlight] is not empty) %}
        {% for repl in args[column.highlight] | split(' ') %}
            {% set value = value | ireplace({ (repl) : '<em>' ~ repl|upper ~ '</em>' }) %}
        {% endfor %}
    {% endif %}
            <td{% if key == 'name'
                %} title="{{ l.primaryQth == 'Y' ? 'Primary Location' | trans : 'Secondary Location' | trans }}"{% endif
            %} class="{%
                if (key == 'name')
            %}{{ l.primaryQth =='Y' ? 'primaryQth' : 'secondaryQth' }} {% endif %}{%
                if column.td_class
            %}{{ column.td_class }} {% endif %}{%
                if (key == 'active' or key == 'primaryQth' or key == 'multiOperator')
            %} tf_{{ value }} {% endif %}{%
                if (key == 'id')
            %} rxx_id{% endif %}">{%
                if (key == 'id' or key == 'name')
                    %}<a href="{{ url('listener', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value|raw }}</a>{%
                elseif key == 'callsign'
                    %}{% if l.callsign %}<a href="https://hamcall.net/call?callsign={{ l.callsign }}" rel="external">{{ value|raw }}</a>{% endif %}{%
                elseif key == 'countLogs'
                    %}{% if l.countLogs %}<a href="{{ url('listener_logs', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value }}</a>{% endif %}{%
                elseif key == 'countLogSessions'
                    %}{% if l.countLogSessions %}<a href="{{ url('listener_logsessions', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value }}</a>{% endif %}{%
                elseif key == 'countRemoteLogs'
                    %}{% if l.countRemoteLogs %}<a href="{{ url('listener_remote_logs', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value }}</a>{% endif %}{%
                elseif key == 'countSignals'
                    %}{% if l.countSignals %}<a href="{{ url('listener_signals', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value }}</a>{% endif %}{%
                elseif key == 'gsq'
                    %}{% if l.gsq %}<a href="{{ url('listener_map', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value }}</a>{% endif %}{%
                elseif key == 'timezone'
                    %}{% if l.timezone != '' %}{{ value|formatTimeZone }}{% else %}&nbsp;{% endif %}{%
                elseif key == 'equipment'
                    %}{% if l.equipment != '' %}{{ value|formatNl2br|raw }}{% else %}&nbsp;{% endif %}{%
                elseif key == 'notes'
                    %}{% if l.notes != '' %}{{ value|formatNl2br|raw }}{% else %}&nbsp;{% endif %}{%
                elseif key == 'map'
                    %}{% if l.signalsMap %}<a href="{{ url('listener_signalsmap', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{% trans %}Map{% endtrans %}</a>{% endif %}{%
                elseif key == 'mapPos'
                    %}{% if l.region in ['ca','eu','na'] or l.itu == 'HWA'%}<a href="{{ url('listener_locatormap', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ l.formattedMapPos }}</a>{% endif %}{%
                elseif key == 'nwl'
                    %}{% if l.ndbWebLog %}<a href="{{ url('listener_ndbweblog', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{% trans %}NWL{% endtrans %}</a>{% endif %}{%
                elseif key == 'email'
                    %}{% if l.email %}<a href="mailto:{{ l.email }}">{{ l.email|raw }}</a>{% endif %}{%
                elseif key == 'website'
                    %}{% if l.website %}{%
                    if l.multiOperator == 'Y'
                        %}<span {% if l.active == 'Y' %}class="link" title="Click to access remote receiver"{% else %}class="inactive" title="Remote receiver is inactive"{% endif %}>[<a href="{{ l.website }}" data-popup="www_{{ l.id }}|width=800,height=640,status=1,scrollbars=1,resizable=1">RX Link</a>]</span>{%
                        else
                            %}[<a title="Click to access website" href="{{ l.website }}" data-popup="www_{{ l.id }}|width=800,height=640,status=1,scrollbars=1,resizable=1">{% trans %}Website{% endtrans %}</a>]{%
                        endif
                    %}{%
                    endif %}{%
                elseif key == 'countRemoteLogSessions'
                    %}{% if l.countRemoteLogSessions %}<a href="{{ url('listener_remote_logsessions', { 'system' : system, 'id' : l.ID }) }}" data-popup="1">{{ value }}</a>{% endif %}{%
                elseif key == 'addlog'
                    %}{% if isAdmin %}<a href="{{ url('listener_logsupload', { 'system' : system, 'id': l.id }) }}" data-popup="1" class="add">+</a>{% endif %}{%
                elseif key == 'delete'
                    %}{% if isAdmin %}<a href="{{ url('listener_delete', { 'system' : system, 'id' : l.ID }) }}" class="delete" onclick="return confirm(msg.del_listener);">X</a>{% endif %}{%
                else
                    %}{{ value|raw }}{%
                endif
            %}</td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
<div id="narrow"></div>
{% include 'forms/pagingbottom.html.twig' %}
{% else %}
    <p class="no-results">{% trans %}(No listeners found matching your criteria){% endtrans %}</p>
{% endif %}