<script>
//<!--
var box = [{ lat: {{ box[0][0] }}, lon: {{ box[0][1] }}}, { lat: {{ box[1][0] }}, lon: {{ box[1][1] }} }];
var center = { lat: {{ center[0] }}, lon: {{ center[1] }} };
var listeners = [
{% for row in listeners %}{'id':"{{
    row.id }}", 'name':"{{
    row.name|raw }}", 'pri':{{
    row.primaryQth == 'Y' ? 1 : 0 }}, 'qth':"{{
    row.qth|raw }}", 'itu':"{{
    row.itu }}", 'sp':"{{
    row.sp }}", 'lat':{{
    row.lat }}, 'lon':{{
    row.lon }}, 'gsq':"{{
    row.gsq }}"},
{% endfor %}
];

$(document).ready( function() {
    $('#map').height($(window).height() - 120);
    $('.scroll div').height($('#map').height());
    $(window).resize(function () {
        $('#map').height($(window).height() - 120);
        $('.scroll div').height($('#map').height());
    });
});
// -->
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=LMap.init"></script>
<table class="map_layout">
    <tbody>
    <tr>
        <td width="30%">
            <h2>{{ system|upper }} {% trans %}Listeners and Locations Map{% endtrans %}</h2>
            <div class="scroll">
                <div>
                <table class="results" id="markerlist" style="display:none; margin: 0; max-width: 500px">
                    <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Location{% endtrans %}</th>
                        <th>{% trans %}S/P{% endtrans %}</th>
                        <th>{% trans %}ITU{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                </div>
            </div>
            <p class="no-results">{% trans %}(No listeners found matching your criteria){% endtrans %}</p>
        </td>
        <td>
            <div class="content map">
                <div>
                    <div id="header">
                        <div class="form_layers">
                            <div>
                                <label>
                                    <strong>{% trans %}Show{% endtrans %}</strong>
                                </label>
                            </div>
                            <div>
                                <label title="{% trans %}Show Maidenhead Locator Grid Squares{% endtrans %}">
                                    <input type="checkbox" id="layer_grid" checked="checked" />
                                    {% trans %}Grid{% endtrans %}
                                </label>
                            </div>
                            <div>
                                <label title="{% trans %}Show Primary locations{% endtrans %}">
                                    <input type="checkbox" id="layer_primary" checked="checked" />
                                    {% trans %}Primary{% endtrans %}
                                    <img src="{{ asset('image/map_point3.gif') }}" alt="{% trans %}Primary Location{% endtrans %}" style="height:0.8em"/>
                                </label>
                            </div>
                            <div>
                                <label title="{% trans %}Show Secondary locations{% endtrans %}">
                                    <input type="checkbox" id="layer_secondary" checked="checked" />
                                    {% trans %}Secondary{% endtrans %}
                                    <img src="{{ asset('image/map_point4.gif') }}" alt="{% trans %}Secondary Location{% endtrans %}" style="height:0.8em" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </td>
    </tr>

    </tbody>
</table>