{% if mode == 'Signals' %}
<div style="display: none" class="cle header system">
    <h2><a href="{{ url('cle', { 'system' : system}) }}">CLE {{ cle.cle }}</a> is Active! <small id="cleEnds"></small></h2>
    <table class="results">
        <tr><th>Dates:</th><td>{{ cle.dateTimespan }}</td></tr>
        <tr><th>Scope:</th><td>{{ cle.scope }}</td></tr>
        <tr><th>Range:</th><td>{% if system == 'reu'
            %}<a href="{{ path('signals', { 'system' : system } )}}?{{ cleUrls.reu.0 }}">{{ cle.europeRange1Low }} - {{ cle.europeRange1High }}KHz</a>{%
                if cle.europeRange2Low %}, <a href="{{ path('signals', { 'system' : system } )}}?{{ cleUrls.reu.1 }}">{{ cle.europeRange2Low }} - {{ cle.europeRange2High }}KHz</a>{%
                endif

            %}{% endif %}{%
                if system == 'rna'
            %}<a href="{{ path('signals', { 'system' : system } )}}?{{ cleUrls.rna.0 }}">{{ cle.worldRange1Low }} - {{ cle.worldRange1High }}KHz</a>{%
                if cle.worldRange2Low
            %}, <a href="{{ path('signals', { 'system' : system } )}}?{{ cleUrls.rna.1 }}">{{ cle.worldRange2Low }} - {{ cle.worldRange2High }}KHz</a>{%
                endif
            %}{% endif %}{%
                if system == 'rww'
            %}<a href="{{ path('signals', { 'system' : system } )}}?{{ cleUrls.rww.0 }}">{{ cle.worldRange1Low }} - {{ cle.worldRange1High }}KHz</a>{%
                if cle.worldRange2Low
            %}, <a href="{{ path('signals', { 'system' : system } )}}?{{ cleUrls.rww.1 }}">{{ cle.worldRange2Low }} - {{ cle.worldRange2High }}KHz</a>{%
                endif
            %}{% endif %}</td></tr>
    </table>
</div>
{% endif %}
<script>
    cle.checkCleActive({
        num: '{{ cle.cle }}',
        start: new Date('{{ cle.dateStart | date('Y-m-d 12:00:00') }}'),
        end: new Date('{{ cle.dateEnd | date('Y-m-d 11:59:59') }}'),
    });
</script>
