{% extends 'main.html.twig' %}
{# This could use some work #}
{% block body %}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=lz0wkk4zh8w8oqbghibz380go0yhscpl15iv46n1ffdy3v2k"></script>
<div class="main">
    <h1>{% trans %}CLE Information{% endtrans %}
        {% if (admin)%}
        <span id="toggle_editor" class="links">
            [ <span>Show Editor</span><span style="display:none">{% trans %}Hide editor{% endtrans %}</span> ]
        </span>
        {% endif %}
    </h1>
    {% if (admin)%}{% include 'cle/form.html.twig' %}{% endif %}
    <p>{{ cle.about | trans({
            '%URL1%' : '<a href="https://groups.io/g/ndblist" rel="external">NDB List</a>',
            '%URL2%' : '<a href="https://groups.io/g/ndblist" rel="external">https://groups.io/g/ndblist</a>'
            }) | raw }}</p>
    <hr>
    <h2>{{ mode }}</h2>
    <table style="width: 80%" class="simple">
        <tr>
            <th>{% trans %}Dates:{% endtrans %}</th>
            <td>{{ cle.dateTimespan|raw }}</td>
        </tr>
        <tr>
            <th>{% trans %}Scope:{% endtrans %}</th>
            <td>{{ cle.scope|raw }}</td>
        </tr>
        {% if (cle.additional) %}
        <tr>
            <th>{% trans %}Details:{% endtrans %}</th>
            <td>{{ cle.additional|unescape|raw|replace({'<p>' : '', '</p>' : ''})|raw }}</td>
        </tr>
        {% endif %}
    </table>

    <h2>{% trans %}Links for Each Region{% endtrans %}</h2>
    <div class="row cle_links">
        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_RNA',
            'focus' : '',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },
            'span' : [ 6, 4 ],
            'system' : 'rna',
            'title' : 'RNA - N America'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_REU',
            'focus' : '',
            'r1' : { 'min' : cle.europeRange1Low, 'max' : cle.europeRange1High, 'url' : reu1, 'textExtra' : cle.europeRange1TextExtra },
            'r2' : { 'min' : cle.europeRange2Low, 'max' : cle.europeRange2High, 'url' : reu2, 'textExtra' : cle.europeRange2TextExtra },
            'span' : [ 6, 4 ],
            'system' : 'reu',
            'title' : 'REU - Europe'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_RWW',
            'focus' : '',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },
            'span' : [ 6, 4 ],
            'system' : 'rww',
            'title' : 'RWW - Worldwide'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_RWW_Africa',
            'focus' : 'af',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - Africa'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_RWW_Asia',
            'focus' : 'as',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - Asia'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_RWW_Pacific',
            'focus' : 'oc',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - Pacific'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'fileprefix' : 'CLE' ~ cle.cle ~ '_RWW_South_America',
            'focus' : 'sa',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - S America'|trans
        }%}
        {% include 'cle/links.html.twig' %}

    </div>
</div>
<script>
$(document).ready( function() {
    cle.init();
});
</script>

{% endblock %}