{% extends 'main.html.twig' %}
{# This could use some work #}
{% block body %}
<div class="main">
    <h1>{{ mode }}</h1>
    <p>{% trans %}'Co-ordinated Listening Events' (or CLEs) take place several times a year and provide opportunities for
        listeners of all ranges of experience to practice our hobby and learn more about it.
        To learn more about the <a href="https://groups.io/g/ndblist" rel="external">NDB List</a>, or to join
        (it's free!), visit <a href="https://groups.io/g/ndblist" rel="external">https://groups.io/g/ndblist</a>{% endtrans %}</p>
    <hr />

    <h2>{% trans %}Date Range:{% endtrans %}</h2>
    <p>{% trans with { '%CLE%' : cle.cle, '%DATESTART%' : cle.dateStart|date('Y-m-d'), '%DATEEND%' : cle.dateEnd|date('Y-m-d') } %}
        CLE %CLE% starts at midday %DATESTART% and ends at midday %DATEEND% LOCAL TIME at the reciever.{% endtrans %}</p>

    <h2>{% trans %}Scope:{% endtrans %}</h2>
    <p>{{ cle.scope }}</p>

    <h2>{% trans %}Additional Information:{% endtrans %}</h2>
    <p>{{ cle.additional|unescape|raw }}</p>

    <h2>{% trans %}Links for Each Region{% endtrans %}</h2>
    <div class="row cle_links">
        <div class="small-6 medium-4 large-2 columns">
            <div class="rna">
                <h3>{% trans %}RNA{% endtrans %}</h3>
                <ul>
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rna' } )}}?{{ rww1 }}">{%
                            trans with {'%MIN%': cle.worldRange1Low, '%MAX%' : cle.worldRange1High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% if cle.worldRange2Low or cle.worldRange2High %}
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rna' }) }}?{{ rww2 }}">{%
                            trans with {'%MIN%': cle.worldRange2Low, '%MAX%' : cle.worldRange2High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-6 medium-4 large-2 columns">
            <div class="reu">
                <h3>{% trans %}REU{% endtrans %}</h3>
                <ul>
                    <li>
                        <a href="{{ path('signals', { 'system' : 'reu' } )}}?{{ reu1 }}">{%
                            trans with {'%MIN%': cle.europeRange1Low, '%MAX%' : cle.europeRange1High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% if cle.europeRange2Low or cle.europeRange2High %}
                    <li>
                        <a href="{{ path('signals', { 'system' : 'reu' } )}}?{{ reu2 }}">{%
                            trans with {'%MIN%': cle.europeRange2Low, '%MAX%' : cle.europeRange2High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-6 medium-4 large-2 columns">
            <div class="rww">
                <h3>{% trans %}RWW - Africa{% endtrans %}</h3>
                <ul>
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww' } )}}?rww_focus=af&{{ rww1 }}">{%
                            trans with {'%MIN%': cle.worldRange1Low, '%MAX%' : cle.worldRange1High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% if cle.worldRange2Low or cle.worldRange2High %}
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww' } )}}?rww_focus=af&{{ rww2 }}">{%
                            trans with {'%MIN%': cle.worldRange2Low, '%MAX%' : cle.worldRange2High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-6 medium-4 large-2 columns">
            <div class="rww">
                <h3>{% trans %}RWW - Asia{% endtrans %}</h3>
                <ul>
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww'  } )}}?rww_focus=as&{{ rww1 }}">{%
                            trans with {'%MIN%': cle.worldRange1Low, '%MAX%' : cle.worldRange1High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% if cle.worldRange2Low or cle.worldRange2High %}
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww'  } )}}?rww_focus=as&{{ rww2 }}">{%
                            trans with {'%MIN%': cle.worldRange2Low, '%MAX%' : cle.worldRange2High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-6 medium-4 large-2 columns">
            <div class="rww">
                <h3>{% trans %}RWW - Pacific{% endtrans %}</h3>
                <ul>
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww'  } )}}?rww_focus=oc&{{ rww1 }}">{%
                            trans with {'%MIN%': cle.worldRange1Low, '%MAX%' : cle.worldRange1High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% if cle.worldRange2Low or cle.worldRange2High %}
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww'  } )}}?rww_focus=oc&{{ rww2 }}">{%
                            trans with {'%MIN%': cle.worldRange2Low, '%MAX%' : cle.worldRange2High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-6 medium-4 large-2 columns">
            <div class="rww">
                <h3>{% trans %}RWW - S. America{% endtrans %}</h3>
                <ul>
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww'  } )}}?rww_focus=sa&{{ rww1 }}">{%
                            trans with {'%MIN%': cle.worldRange1Low, '%MAX%' : cle.worldRange1High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% if cle.worldRange2Low or cle.worldRange2High %}
                    <li>
                        <a href="{{ path('signals', { 'system' : 'rww'  } )}}?rww_focus=sa&{{ rww2 }}">{%
                            trans with {'%MIN%': cle.worldRange2Low, '%MAX%' : cle.worldRange2High} %}%MIN%KHz to %MAX%KHz{% endtrans
                        %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}