{% extends 'popup.html.twig' %}

{% block body %}
<div class="help">
    <h1>{{ system|upper }} {{ mode }}</h1>
    <p>Countries in this system are given by NDB List approved
    <a href="http://www.ndblist.info/beacons/countrylist.pdf" rel="external"
      title="NDBList country, state and province codes">standard codes</a>.
    </p>
    {% if regions|length > 1 %}
    <div class="links quicklinks">[
        {% for key, region in regions %}
            <a href="#{{ region.region }}">{{ region.name }}</a>{%  if not loop.last %} | {%  endif %}
        {% endfor %}
    ]</div>
    {% endif %}
    {% for region in regions %}
    <div class="zone">
        <div class="header">
            <h2 id='{{ region.region }}'>{{ region.name }}</h2>
            <div class="links">
                [ {%  if region.map %}<a href="{{ url('map', { '_locale' : _locale, 'system' : system, 'area' : region.map }) }}" data-popup="1">Map</a> | {% endif %}<a href="#top">Top</a> ]
            </div>
        </div>
        {% if region.countries|length  %}
            <ol class="row small-up-1 medium-up-3 large-up-4 clearfix">
            {% for c in region.countries %}
                <li class="column">{{ c.name }}<span class="abbr">{{ c.itu }}</span></li>
            {% endfor %}
            </ol>
        {% endif %}
    </div>
    {% endfor %}
</div>
<script>
$(document).ready( function() {
    setExternalLinks();
});
</script>
{% endblock %}