{% extends 'popup.html.twig' %}

{% block body %}
<div class="help">
    <h1>{{ system|upper }} {{ mode }}</h1>
    <p>Countries in this system are given by NDB List approved
    <a href="http://www.ndblist.info/beacons/countrylist.pdf" rel="external"
      title="NDBList country, state and province codes">standard codes</a>.
    </p>
{% if regions|length > 1 %}

    <div class="links quicklinks">[
{% for key, region in regions %}
        <a href="#{{ region.region }}">{{ region.name }}</a>{%  if not loop.last %} |{%  endif %}

{% endfor %}
    ]</div>

{% endif %}
{% for region in regions %}
    <div class="zone">
        <div class="header">
            <h2 id='{{ region.region }}'>{{ region.name }}</h2>
            <div class="links">
                [ {%  if region.map %}<a href="{{ url('system', { 'system' : system }) }}{{ region.map }}" target="_blank" rel="external">Map</a> | {% endif %}<a href="#top">Top</a> ]
            </div>
        </div>
{% if region.countries|length  %}
{% set countries = region.countries %}
        <ol class="row small-up-1 medium-up-2 large-up-3 clearfix">
{% for country in countries %}
            <li class="column">{{ country.name }}<span class="abbr">{{ country.itu }}</span></li>
{% endfor %}
        </ol>
{% endif %}
    </div>

{% endfor %}
</div>
{% endblock %}