{% if listeners|length > 0 %}
<table border="1" class="results">
    <thead>
        <tr>
            <th>Name</th>
            <th>Callsign</th>
            <th>QTH</th>
            <th>S/P</th>
            <th>ITU</th>
            <th class="txt_vertical"><div>Continent</div></th>
            <th>GSQ</th>
            <th class="txt_vertical"><div>Timezone</div></th>
            <th>Logs</th>
            <th>Latest Log</th>
{% for type in args.types %}
{% if type != 'type_ALL' %}
            <th class="txt_vertical"><div>{{ type|slice(5) }}</div></th>
{% endif %}
{% endfor %}
            <th>Web</th>
            <th>NWL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
{% for listener in listeners %}
            <td class="{% if listener.PrimaryQth %}primaryQth{% else %}secondaryQth{% endif %}">{{ listener.name }}</td>
            <td>{{ listener.callsign }}</td>
            <td>{{ listener.qth }}</td>
            <td>{{ listener.sp }}</td>
            <td>{{ listener.itu }}</td>
            <td>{{ listener.region|upper }}</td>
            <td class="txt_r monspace">{{ listener.gsq }}</td>
            <td class="txt_r">{{ listener.timezone }}</td>
            <td class="txt_r">{{ listener.countLogs }}</td>
            <td class="text-nowrap txt_r monspace">{{ listener.logLatest|date("Y-m-d") }}</td>
{% for type in args.types %}
{% if type != 'type_ALL' %}
            <td class="txt_r {{ type|lower }}">{{ attribute(listener, 'count'~type|slice(5)|capitalize) }}</td>
{% endif %}
{% endfor %}
            <td>{% if listener.website != '' %}<a href="{{ listener.website }}" rel="external">WWW</a>{% endif %}</td>
            <td><a href="{{ listener.id }}">NWL</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p>(No results found)</p>
{% endif %}