{% if listeners|length > 0 %}
<table border="1" class="listener results">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th{%  if key and column.order %} id="{{ key }}_{{ column.order }}"{% endif %}
{% if column.th_class %} class="{{ column.th_class }}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}
>{{ column.label|raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for listener in listeners %}
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td{% if key == 'name' and listener.PrimaryQth is defined %} class="{% if listener.PrimaryQth %}primaryQth{% else %}secondaryQth{% endif %}">{% else %}{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>{% endif %}{{ attribute(listener, column.field)|raw }}</td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p>(No results found)</p>
{% endif %}