{% if listeners|length > 0 %}
<table class="listener results">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th{%  if key and column.order %} id="{{ key }}_{{ column.order }}"{% endif %}
{% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}
>{{ column.label|raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for listener in listeners %}
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td{% if key == 'name' %} title="{{ listener.PrimaryQth ? 'Primary Location' : 'Secondary Location' }}" class="{{ listener.PrimaryQth ? 'primaryQth' : 'secondaryQth' }}">{% else %}{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>{% endif %}

{% if key == 'name' %}
                <a href="{{ url('listener', { 'system' : system, 'id': listener.id }) }}" rel="external" data-popup="edit_{{ listener.id }}|{{ listenerPopup }}">{{ attribute(listener, column.field)|raw }}</a>
{% else %}
                {{ attribute(listener, column.field)|raw }}
{% endif %}
            </td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p class="no-results">(No listeners found matching your criteria)</p>
{% endif %}