    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
        {{ form_start(form) }}
            <div id="form">
                {{ form_row(form.id)  }}
                <fieldset id="group_contact_details">
                    <legend>{% trans %}Contact Details{% endtrans %}</legend>
                    {{ form_row(form.name) }}
                    {{ form_row(form.callsign) }}
                    {% if isAdmin %}
                        {{ form_row(form.email) }}
                    {% endif %}
                    {{ form_row(form.website) }}
                </fieldset>
                <fieldset id="group_location">
                    <legend>{% trans %}Location{% endtrans %}</legend>
                    {{ form_row(form.qth) }}
                    {{ form_row(form.sp) }}
                    {{ form_row(form.itu) }}
                    <div>
                        <label for="{{ form.gsq.vars.id }}">
                            {% if l.id != '' %}
                            <a href="{{ url('listener_map', { 'system' : system, 'id' : id }) }}" data-popup="1">
                                {{ form.gsq.vars.label|trans }}
                            </a>
                            {% else %}
                            {{ form.gsq.vars.label|trans }}
                            {% endif %}
                        </label>
                        {{ form_widget(form.gsq) }}
                    </div>

                    {{ form_row(form.gsq) }}
                    {% if isAdmin%}
                    <div{% if l.region not in ['ca', 'eu', 'na'] and 'HWA' != l.itu %} style="display: none"{% endif %}>
                        <label for="{{ form.mapX.vars.id }}">
                            {% if l.id != '' %}
                            <a href="{{ url('listener_locatormap', { 'system' : system, 'id' : id }) }}" data-popup="1">
                                {{ form.mapX.vars.label|trans }}
                            </a>
                            {% else %}
                                {{ form.mapX.vars.label|trans }}
                            {% endif %}
                        </label>
                        <div>{% trans %}X:{% endtrans %}</div>{{ form_widget(form.mapX) }}
                        <div>{% trans %}Y:{% endtrans %}</div>{{ form_widget(form.mapY) }}
                    </div>
                    {% endif %}
                </fieldset>
                <fieldset id="group_receiving_station_details">
                    <legend>{% trans %}Receiving Station Details{% endtrans %}</legend>
                    {{ form_row(form.primaryQth) }}
                    {{ form_row(form.timezone) }}
                    {{ form_row(form.equipment) }}
                    {{ form_row(form.notes) }}
                </fieldset>
                <fieldset id="group_">
                    {{ form_row(form.print) }}
                    {{ form_row(form.close) }}
                    {% if isAdmin %}{{ form_row(form.save) }}{% else %}{{ form_row(form.save_disabled) }}{% endif %}
                </fieldset>
            </div>
        {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
