{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_logs' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}
            <a class="export" href="{{ url('listener_export_logs', { 'system' : system, 'id': id }) }}" rel="external">Export <span class='ui-icon ui-icon-document'></span></a>
        </div>
        <div class="content scroll" id="list">
{{ form_start(form) }}
            {% include 'forms/paging.html.twig' %}
{{ form_end(form) }}
{% include 'listener/logs.grid.html.twig' %}
        </div>
    </div>
</div>
{% include 'js_trans.html.twig' %}
<script>
    $(document).ready( function() {
        setExternalLinks();
        setFormPagingActions();
        setColumnSortActions();
        setColumnSortedClass();
        setClippedCellTitles();
        $('#form_paging_status').html('{{ matched }}');
        $('#list').height($(window).height() - 90);
        $(window).resize(function () {
            $('#list').height($(window).height() - 90);
        });
    });
</script>
{% endblock %}