{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_logs' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_end(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div id="form_page_help"></div>
{% include 'listener/logs.grid.html.twig' %}
        </div>
    </div>
</div>
<script>
    $(document).ready( function() {
        setColumnSortActions();
        setColumnSortedClass();
        setClippedCellTitles();
        $('#form_page_help').html('{{ matched }}');
    });
</script>
{% endblock %}