{% if logs|length > 0 %}
<table class="signals logsessionslogs results short" style="width: 100%">
    <thead>
        <tr>
{% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th class="{{ column.th_class }}"{% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}>
    {% if column.th_class == 'txt_vertical' %}<div>{{ column.label | trans | raw }}</div>{% else %}{{ column.label | trans | raw }}{% endif %}
            </th>
    {% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for l in logs %}
    {% set type = typeRepository.TypeForCode(l.type) %}
    <tr class="{% if l.active == '0' %}inactive {% endif %}{% if l.daytime %}daytime {% endif %}type_{{ type.class|lower }}" title="{{ type.title }}{% if l.daytime %} {% trans %}Logged betweeen 10am and 2pm local time{% endtrans %}{% endif %}{% if l.active == '0' %} (inactive){% endif %}">
{% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>
    {%
        if key == 'id'
    %}{% if isAdmin %}<a href="{{ url('log', { 'system' : system, 'id' : l.log_id }) }}" data-popup="1">{{ l.log_id }}</a>{% endif %}{%
        elseif key == 'admin'
    %}{% if isAdmin %}<a href="{{ url('listener_log_delete', { 'system' : system, 'id' : id, 'log_id' : l.log_id }) }}" class="delete" onclick="return confirm(msg.del_log);">X</a>{% endif %}{%
        else
    %}{{ attribute(l, column.field)|raw }}{%
        endif
    %}</td>
    {% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p class="no-results">(No log sessions have been uploaded for this listener)</p>
{% endif %}