{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_logs' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content scroll" id="list">
            {% include 'status.html.twig' %}
{{ form_start(form) }}
            {% include 'forms/paging.html.twig' %}
{{ form_end(form) }}
{% include 'listener/logsessions.grid.html.twig' %}
            <h2>{% trans %}Logs Uploaded in Selected Session{% endtrans %}</h2>
            <div class="scroll" style="background: #fff" id="list2"></div>
        </div>
    </div>
</div>
<script>
    logSessions.init(
        "{{ url('listener_logsession', { 'system' : system, 'id': id, 'logSessionId': 'XXX' }) }}",
        "{{ matched }}"
    );
</script>
{% endblock %}