{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_signals' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {% include 'forms/paging.html.twig' %}
{{ form_end(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div id="form_paging_status"></div>
{% include 'listener/signals.grid.html.twig' %}
        </div>
    </div>
</div>
<script>
    $(document).ready( function() {
        setPagingActions();
        setColumnSortActions();
        setColumnSortedClass();
        setClippedCellTitles();
        $('#form_paging_status').html('{{ matched }}');
    });
</script>
{% endblock %}