{% extends 'popup.html.twig' %}
{% block body %}
{% include 'js_trans.html.twig' %}
<script>
//<![CDATA[
var listener = {
    source: '{{ url('listener_export_signals_kml', { 'system' : system, 'id' : id }) }}',
    logLatest: {{ listener.logLatest|date("Ymd") }},
    lat: {{ listener.lat }},
    lng: {{ listener.lon }},
    name: "{{ listener.name }}",
    qth: "{{ listener.qth }}{% if (listener.sp) %}, {{ listener.sp }}{% endif %}, {{ listener.itu }}",
    types: [ {{ types|keys|join(', ') }} ]
};

var types = [ {{ types|keys|join(', ') }} ];

$(document).ready( function() {
    setExternalLinks();
    setColumnSortActions();
    setColumnSortedClass();
    setClippedCellTitles();
    $('#map').height($(window).height() - 140);
    $(window).resize(function () {
        $('#map').height($(window).height() - 140);
    });
    //]]>
});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=LSMap.init"></script>

{% set form_class='listener_view' %}
<div class="main fullwidth">
    {% set form_class='listener_logs' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}
            <div class="export">{% trans %}Export{% endtrans %}
                <a href="{{ url('listener_export_signals_kml', { 'system' : system, 'id': id }) }}">
                    <span class='ui-icon ui-icon-document'></span>.kml
                </a>
            </div>
        </div>
        <div class="content map" style="margin: 0;padding: 0.25em 0.5em 0.5em 0">
            <div id="header">
                <div class="form_layers">
                    <div>
                        <label>
                            <strong>{% trans %}Show{% endtrans %}</strong>
                        </label>
                    </div>
                    <div>
                        <label title="{% trans %}Show listener's location{% endtrans %}">
                            <input type="checkbox" id="layer_qth" checked="checked" />
                            {% trans %}QTH{% endtrans %}
                        </label>
                    </div>
                    <div>
                        <label title="{% trans %}Show Maidenhead Locator Grid Squares{% endtrans %}">
                            <input type="checkbox" id="layer_grid" checked="checked" />
                            {% trans %}Grid{% endtrans %}
                        </label>
                    </div>
                    <div>
                        <label title="{% trans %}Show Active Signals{% endtrans %}">
                            <input type="checkbox" id="layer_active" checked="checked" />
                            {% trans %}Active{% endtrans %}
                            <img src="{{ asset('image/pins/ndb_1.png') }}" alt="{% trans %}Active Signal Marker{% endtrans %}" style="height:0.8em"/>
                        </label>
                    </div>
                    <div>
                        <label title="{% trans %}Show Inactive signals{% endtrans %}">
                            <input type="checkbox" id="layer_inactive" checked="checked" />
                            {% trans %}Inactive{% endtrans %}
                            <img src="{{ asset('image/pins/ndb_0.png') }}" alt="{% trans %}Inactive Signal Marker{% endtrans %}" style="height:0.8em; opacity: 0.8" />
                        </label>
                    </div>
                </div>
                <div class="form_layers">
                    <div>
                        <label>
                            <strong>{% trans %}Signal Types:{% endtrans %}</strong>
                        </label>
                    </div>
                    {% for type, settings in types %}
                    <div class="{{ settings.type }}">
                        <label>
                            <input type="checkbox" id="layer_{{ type }}" checked="checked" />
                            {{ settings.label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}
