{% if signals|length > 0 %}
<div>
    <table class="listener signals results short" style="width: 100%">
        <thead>
            <tr>
    {% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
                <th{%  if key and column.order %} id="{{ key }}|{{ column.order }}"{% endif %}
    {% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
    {% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}
    >{{ column.label|raw }}</th>
    {% endif %}
    {% endfor %}
            </tr>
        </thead>
        <tbody>
    {% for signal in signals %}
    {% set type = typeRepository.TypeForCode(signal.type) %}
            <tr
                class="{% if signal.active == '0' %}inactive {% endif %}{% if signal.daytime %}daytime {% endif %}type_{{ type.class|lower }}"
                title="{{ type.title }}{% if signal.daytime %} {% trans %}Logged betweeen 10am and 2pm local time{% endtrans %}{% endif %}{% if signal.active == '0' %} {% trans %}(inactive){% endtrans %}{% endif %}"
            >
    {% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
                <td{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>

    {% if key == 'call' %}
                    <a href="{{ url('signal', { 'system' : system, 'id': signal.id }) }}" data-popup="1">{{ attribute(signal, column.field)|raw }}</a>
    {% else %}
                    {{ attribute(signal, column.field)|raw }}
    {% endif %}
                </td>
    {% endif %}
    {% endfor %}
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p class="no-results">(No signals have been reported by this listener)</p>
{% endif %}