<div style="height:0px;overflow:hidden"></div>
{% if signals|length > 0 %}
<table class="signals results" style="width: 100%">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th{%  if key and column.order %} id="{{ key }}_{{ column.order }}"{% endif %}
{% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}
>{{ column.label|raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for signal in signals %}
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>

{% if key == 'call' %}
                <a href="{{ url('listener', { 'system' : system, 'id': signal.id }) }}" rel="external" data-popup="edit_{{ signal.id }}|{{ signalPopup }}">{{ attribute(signal, column.field)|raw }}</a>
{% else %}
                {{ attribute(signal, column.field)|raw }}
{% endif %}
            </td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p class="no-results">(No signals have been reported by this listener)</p>
{% endif %}