{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
    {% set form_class='listener_export' %}
    {% include 'listener/tabs.html.twig' %}
    <div class="controlPanel logUpload">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
            <div id="form">
            {{ form_start(form) }}
                {{ form_row(form.id)  }}
                {{ form_row(form.step)  }}
                <div id="format">
                    <div id="formatOld">{{ formatOld }}</div>
                    {{ form_widget(form.format) }}
                    {{ form_widget(form.saveFormat)  }}
                </div>
                <div>
                    {{ form_widget(form.logs) }}
                </div>
                <fieldset id="group_">
                    {{ form_row(form.tabs2spaces) }}
                    {{ form_row(form.lineUp) }}
                    {{ form_row(form.parseLog) }}
                </fieldset>

            {{ form_end(form, {'render_rest': true}) }}
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready( function() {
    initListenersLogUploadForm();
    setExternalLinks();
});
</script>
{% endblock %}