{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='log_edit' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
            {{ form_start(form) }}
            <div id="form">
                {{ form_row(form._token) }}
                {{ form_row(form.id) }}
                {{ form_row(form._close) }}
                {{ form_row(form.reload) }}
                <div>
                    {{ form_label(form.logIdRo) }}
                    {{ form_widget(form.logIdRo) }}
                    {{ form_label(form.sessionId) }}
                    {{ form_widget(form.sessionId) }}
                </div>
                <div>
                    {{ form_label(form.signalId) }}
                    {{ form_widget(form.signalId) }}
                </div>
                {% if l.logSessionId %}
                    <div style="margin: 2em 0 0.5em 0;text-align: center; border:1px solid red;background: #fee">
                        <b style="color:red">DO NOT change Listener or Operator here.</b><br>Edit
                        <a href="{{ url('admin/logsession', { 'system' : system, 'id' : l.logSessionId }) }}" data-popup="1" title="Click to edit this Log Session">Log Session {{ l.logSessionId }}</a>
                        instead.
                    </div>
                {% endif %}
                <div>
                    {{ form_label(form.listenerId) }}
                    {{ form_widget(form.listenerId) }}
                </div>
                <div>
                    {{ form_label(form.operatorId) }}
                    {{ form_widget(form.operatorId) }}
                </div>
                {% if l.logSessionId %}
                <div style="padding-bottom:1em"></div>
                {% endif %}
                <div>
                    {{ form_label(form.dxKm) }}
                    {{ form_widget(form.dxKm) }}
                    {{ form_label(form.dxMiles) }}
                    {{ form_widget(form.dxMiles) }}
                </div>
                <div>
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date) }}
                    {{ form_label(form.time) }}
                    {{ form_widget(form.time) }}
                    {{ form_label(form.daytime) }}
                    {{ form_widget(form.daytime) }}
                </div>
                <div>
                    {{ form_label(form.format) }}
                    {{ form_widget(form.format) }}
                    {{ form_label(form.sec) }}
                    {{ form_widget(form.sec) }}
                </div>
                <div>
                    {{ form_label(form.lsb) }}
                    {{ form_widget(form.lsb) }}
                    {{ form_label(form.lsbApprox) }}
                    {{ form_widget(form.lsbApprox) }}
                </div>
                <div>
                    {{ form_label(form.usb) }}
                    {{ form_widget(form.usb) }}
                    {{ form_label(form.usbApprox) }}
                    {{ form_widget(form.usbApprox) }}
                </div>
                <fieldset id="group_">
                    {{ form_row(form.close) }}
                    {{ form_row(form.save) }}
                    {{ form_row(form.saveClose) }}
                </fieldset>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
<script src="{{ path('js_listeners') }}"></script>
<script src="{{ path('js_operators') }}"></script>
<script src="{{ path('js_signals') }}"></script>
<script>
$(document).ready(function () {
    LOG_EDIT.init()
    {% if doReload %}window.opener.document.getElementsByName('form')[0].submit();{% endif %}
});
</script>
</div>
{% endblock %}