{# Include our twig widget customisations #}
{% form_theme form 'forms/custom_form_div_layout.html.twig' %}
<div class="controlPanel {{ form_class }}">
    <div class="header">{{ form_title }}</div>
    <div class="content clearfix">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
