<div>
    <fieldset>
        <legend class="sr-only">{% trans %}Paging Controls{% endtrans %}</legend>
        {{ form_widget(form.sort) }}
        {{ form_widget(form.order) }}
        {{ form_widget(form._token) }}
{% if form.prev is defined %}
        {{ form_label(form.limit) }}
        <div>
            {{ form_widget(form.limit) }}
            {{ form_widget(form.prev) }}
            {{ form_widget(form.next) }}
            {{ form_widget(form.page) }}
            <span id="form_paging_status"></span>
        </div>
{% else  %}
    {{ form_widget(form.limit) }}
    {{ form_widget(form.page) }}
{% endif %}
    </fieldset>
</div>

<script>
var paging = {
    limit: {{ results.limit }},
    page: {{ results.page }},
    total: {{ results.total }}
}
</script>