<!--
TODO: Remove this legacy code once the new system goes live
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ asset('css/style.min.css') }}" />
<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('js/functions.min.js') }}"></script>
<script>
//<![CDATA[
var listener = {
    source: '{{ url('listener_export_signals_kml', { 'system' : system, 'id' : id }) }}',
    logLatest: {{ listener.logLatest|date("Ymd") }},
    lat: {{ listener.lat }},
    lng: {{ listener.lon }},
    name: "{{ listener.name }}",
    qth: "{{ listener.qth }}{% if (listener.sp) %}, {{ listener.sp }}{% endif %}, {{ listener.itu }}"
}

var types = [ {{ types|keys|join(', ') }} ];

//]]>
</script>
</head>
<body class="map">
<div id="header">
    <h1>{{ title }}</h1>
    <div class="form_layers">
        <div><label><strong>Show</strong></label></div>
        <div><label title="Show listener's location"><input type="checkbox" id="layer_qth" checked="checked" /> QTH</label></div>
        <div><label title="Show Maidenhead Locator Grid Squares"><input type="checkbox" id="layer_grid" checked="checked" /> Grid</label></div>
        <div><label title="Show Active Signals"><input type="checkbox" id="layer_active" checked="checked" /> Active <img src="{{ asset('image/pins/ndb_1.png') }}" alt="Active Signal Marker" style="height:0.8em" /></label></div>
        <div><label title="Show Inactive signals"><input type="checkbox" id="layer_inactive" checked="checked" /> Inactive <img src="{{ asset('image/pins/ndb_0.png') }}" alt="Inactive Signal Marker" style="height:0.8em; opacity: 0.8" /></label></div>
    </div>
    <div class="form_layers">
        <div><label><strong>Signal Types: </strong></label></div>
{% for type,settings in types %}
    <div class="type_{{ settings.class|lower }}"><label><input type="checkbox" id="layer_{{ type }}" checked="checked" /> {{ settings.label }}</label></div>
{% endfor %}
    </div>
    <div class="form_layers">
        <div><label><strong>Download</strong></label></div>
        <div><a title="Download KML file for Google Earth" href="{{ url('listener_export_signals_kml', { 'system' : system, 'id' : id }) }}">KML File</a></div>
    </div>
    <br style="float: none; clear:both" />
</div>
<div id="map"></div>
<div class="footer" id="footer">
    <p class="copyright"><strong>&copy;{{ "now"|date("Y") }} Martin Francis, showing data submitted to {{ system|upper }}</strong></p>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=LSMap.init"></script>
</body>
</html>