<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body class="map">
<div id="header">
    <h1>{{ title }}</h1>
    <div id="form_layers">
        <div><label><input type="checkbox" id="layer_qth" checked="checked" />QTH</label></div>
        <div><label><input type="checkbox" id="layer_grid" checked="checked" />Grid</label></div>
    </div>
    <div id="form_layers">
{% for type,settings in types %}
    <div class="type_{{ settings.class|lower }}"><label><input type="checkbox" id="layer_{{ type }}" checked="checked" />{{ settings.label }}</label></div>
{% endfor %}
    </div>
</div>
<div id="map"></div>
<script>
//<!--
var layers = [], map, qthInfo;
layers['grid'] = [];

function initMap() {
    var icon, la, lon;
    var qthLatLng = {lat: {{ lat }}, lng: {{ lon}} };

    map = new google.maps.Map(document.getElementById('map'), {
        center: qthLatLng,
        scaleControl: true,
        zoomControl: true,
        zoom: 2
    });

    icon = {
        scaledSize: new google.maps.Size(30,30),
        url: "http://maps.google.com/mapfiles/kml/pushpin/red-pushpin.png"
    };

    layers['qth'] = new google.maps.Marker({
        position: qthLatLng,
        map: map,
        icon: icon,
        title: "{{ listener.name|raw }}"
    });

    qthInfo = new google.maps.InfoWindow({
        content:
            "<h2>{{ listener.name|raw }}</h2>" +
            "<p>{{ listener.qth|raw }}{% if (listener.sp) %}, {{ listener.sp }}{% endif %}, {{ listener.itu }}</p>"
    });

    layers['qth'].addListener('click', function() {
        qthInfo.open(map, layers['qth']);
    });

    function toggleLayers(i) {
        if (layers[i].getMap() == null) {
            layers[i].setMap(map);
        } else {
            layers[i].setMap(null);
        }
    }

    function toggleGrid() {
        if (layers['grid'][0].getMap() == null) {
            for(var i in layers['grid']) {
                layers['grid'][i].setMap(map)
            }
        } else {
            for(var i in layers['grid']) {
                layers['grid'][i].setMap(null)
            }
        }
    }

    for (la=0; la<180; la+=10) {
        layers['grid'].push(
            new google.maps.Polyline({
                path: [{lat: (la-90), lng: -180}, {lat:(la-90), lng: 0}, {lat: (la-90), lng: 180}],
                geodesic: false,
                strokeColor: '#808080',
                strokeOpacity: 0.5,
                strokeWeight: 0.5
            })
        );
    }
    for (lon=0; lon<360; lon+=20) {
        layers['grid'].push(
            new google.maps.Polyline({
                path: [{lat:85.05, lng: lon}, {lat:-85.05, lng: lon}],
                geodesic: false,
                strokeColor: '#808080',
                strokeOpacity: 0.5,
                strokeWeight: 0.5
            })
        );
    }
    for(var i in layers['grid']) {
        layers['grid'][i].setMap(map)
    }

{% for type,settings in types %}
    layers[{{ type }}] = new google.maps.KmlLayer({
        url: '{{ url('listener_export_signals_kml', { 'system' : system, 'id' : id, 'type' : type }) }}?v=' + (new Date()).getTime(),
        map: map
    });
{% endfor %}


    google.maps.event.addDomListener(document.getElementById('layer_grid'), 'click', function(evt) {
        toggleGrid();
    });
    google.maps.event.addDomListener(document.getElementById('layer_qth'), 'click', function(evt) {
        toggleLayers('qth');
    });
{% for type,settings in types %}
    google.maps.event.addDomListener(document.getElementById('layer_{{ type }}'), 'click', function(evt) {
        toggleLayers({{ type }});
    });
{% endfor %}

}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=initMap">
</script>
</body>
</html>