<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 92%;
        }
        h1 { margin: 0; }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .gm-style-iw h2 {
            margin: 0.25em 0;
        }
        .gm-style-iw p {
            margin: 0.25em 0;
        }
    </style>
</head>
<body>
<h1>{{ title }}</h1>
<div id="map"></div>
<script>

    function initMap() {
        var qthLatLng = {lat: {{ lat }}, lng: {{ lon}} };

        var map = new google.maps.Map(document.getElementById('map'), {
            center: qthLatLng,
            scaleControl: true,
            zoomControl: true,
            zoom: 6,
        });

        var qthInfo = new google.maps.InfoWindow({
            content:
                "<h2>{{ listener.name|raw }}</h2>" +
                "<p>{{ listener.qth|raw }}{% if (listener.sp) %}, {{ listener.sp }}{% endif %}, {{ listener.itu }}</p>"
        });

        var qth = new google.maps.Marker({
            position: qthLatLng,
            map: map,
            title: "{{ listener.name|raw }}"
        });

        qth.addListener('click', function() {
            qthInfo.open(map, qth);
        });

{% for type in 0..6 %}
        var signalsLayer{{ type }} = new google.maps.KmlLayer({
            url: '{{ url('listener_export_signals_kml', { 'system' : system, 'id' : id, 'type' : type }) }}?v=' + (new Date()).getTime(),
            map: map
        });
{% endfor %}

    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=initMap">
</script>
</body>
</html>