<footer>
    <div class="footer" id="footer">
        <p class="preamble">
            <strong>{{ '%s Administrators / Credits' | trans | format(system|upper) }} [
                <a id="section_credits_show" style="display:none">{% trans %}Show{% endtrans %}</a>
                <a id="section_credits_hide" style="display:none">{% trans %}Hide{% endtrans %}</a>
            ]</strong>
        </p>
        <div id="section_credits" style="display:none">
            <table class="credits">
                <thead>
                <tr>
                    <th>{% trans %}Editors{% endtrans %}</th>
                    <th class="type_dgps">DGPS</th>
                    <th class="type_dsc">DSC</th>
                    <th class="type_hambcn">10M Ham Bcn</th>
                    <th class="type_navtex">Navtex</th>
                    <th class="type_ndb">NDB</th>
{#                    <th class="type_time">Time</th>#}
{#                    <th class="type_other">Other</th>#}
                </tr>
                </thead>
                <tbody>
{% for person in systems[system]['editors'] %}
                    <tr>
                        <th>
                            {% if person.email and person.show_email %}
                                <a href="#" data-contact="{{ ('mailto:' ~ person.email ~ '?subject=' ~ system | upper ~ ' system') | obfuscateEmail }}">{{ person.name }}</a>
                            {% else %}
                                {{ person.name }}
                            {% endif %}
                            {% if person.callsign %}
                                <a class="callsign" href="https://www.qrz.com/db/{{ person.callsign }}" target="_blank">{{ person.callsign }}</a>
                                <a class="callsign" href="https://www.qrzcq.com/call/{{ person.callsign }}" target="_blank">[2]</a>
                            {% endif %}
                        </th>
{% for type in ['DGPS', 'DSC', 'HAMBCN', 'NAVTEX', 'NDB'] %}
                        {% if type in person.roles %}<td class="type_{{ type | lower }}">Y</td>{% else %}<td>&nbsp;</td>{% endif %}

{% endfor %}
                    </tr>
{% endfor %}
                </tbody>
            </table>
            <p>
{% set credits = ['awards', 'authors'] %}
{% for credit in credits %}
{% for person in systems[system][credit] %}
                <strong>
                    {% if person.email and person.show_email %}
                        <a href="#" data-contact="{{('mailto:' ~ person.email ~ '?subject=' ~ system | upper ~ ' system') | obfuscateEmail}}">{{ person.name }}</a>
                    {% else %}
                        {{ person.name }}
                    {% endif %}
                </strong>
    {% if person.callsign %}
        <a class="callsign" href="https://www.qrz.com/db/{{ person.callsign }}" target="_blank">{{ person.callsign }}</a>
        <a class="callsign" href="https://www.qrzcq.com/call/{{ person.callsign }}" target="_blank">[2]</a>
    {% endif %}

    ({{ person.role | trans }})<br />
{% endfor %}
{% endfor %}
            </p>
        </div>
        <p class="copyright">
            <strong>&copy;{{ "now"|date("Y") }}
                <a href="#" data-contact="{{ ('mailto:martin@classaxe.com?subject=' ~ system | upper ~ ' system') | obfuscateEmail }}">Martin Francis</a>
            </strong>
            <a class="callsign" href="https://www.qrz.com/db/VA3PHP" target="_blank">VA3PHP</a>
            <a class="callsign" href="https://www.qrzcq.com/call/VA3PHP" target="_blank">[2]</a>
        </p>
    </div>
</footer>
<script>
    COMMON_FORM.setCreditsHideShowActions();
    setEmailLinks();
</script>
