<div class="footer" id="footer">
    <p class="preamble">
        <strong>Your {{ system|upper }} Editors are:</strong>
    </p>
{% set credits = ['editors', 'awards', 'authors'] %}
{% for credit in credits %}

    <p>
{% for person in systems[system][credit] %}
        <strong>
{% if person.email %}
        <script>document.write(">'metsyS02%{{ system|upper|reverse }}=tcejbus?{{ person.email|reverse }}:otliam'=ferh a<".split('').reverse().join(''));</script>{{ person.name }}</a>
{% else %}
        {{ person.name }}
{% endif %}
        </strong> {{ person.role }}{% if not loop.last  %}<br />

{% endif %}
{% endfor %}

    </p>
{% endfor %}
    <p class="copyright"><strong>&copy;{{ "now"|date("Y") }} Martin Francis</strong></p>
</div>
