            <div class="header"{% if key is defined %} id="{{ key }}"{% endif %}>
                <h3>{{ mode }}</h3>
{%  if (stateBtn is defined or countryBtn is defined or multiple is defined or countryBtn is defined) %}
                <div class="links">[
{% if multiple is defined %}
                    <a href="#top">Top</a> |
                    <a href="{{ url('system', { 'system' : system }) }}map/{{ key }}"{% if (popup is defined and popup) %} data-popup="{{ popup }}"{% endif %}>Popup</a>{% if ((stateBtn is defined and stateBtn) or (countryBtn is defined and countryBtn)) %} |{% endif %}

{% endif %}
{% if (stateBtn is defined and stateBtn) %}
                    <a href="{{ url('states', { 'system' : system, 'filter' : stateFilter }) }}" data-type='sp' rel="external">{{ stateBtn }}</a>{% if ((stateBtn is defined and stateBtn) and (countryBtn is defined and countryBtn)) %} |{% endif %}

{% endif %}
{% if (countryBtn is defined and countryBtn) %}
                    <a href="{{ url('countries', { 'system' : system, 'filter' : countryFilter }) }}" data-type='itu' rel="external">{{ countryBtn }}</a>
{% endif %}
                ]</div>
{% endif %}
            </div>
            <div class="body">
{% if text is defined %}
                {{ text|raw }}
{% endif %}
                <img src="{{ asset('image/' ~ map) }}" alt="{{ mode }}" title="{{ mode }}" class="map" />
            </div>
