{% extends 'main.html.twig' %}
{% block body %}
    <div class="main">
        <div>{% include 'status.html.twig' %}</div>
        <h1>{{ mode | trans }}</h1>
        <ol class="admin_tools">
            <li>{% trans %}Signals{% endtrans %}:
                <ul>
                    <li><a class="button" href="{{ url('admin/tools', {'system' : system, 'tool' : 'signalsLatLon'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Update Lat and Lon from GSQ{% endtrans %}</strong>
                        {% trans %}(run if problems are seen){% endtrans %}
                    </li>
                    <li><a class="button" href="{{ url('admin/tools', {'system' : system, 'tool' : 'signalsStats'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Update info from latest log data{% endtrans %}</strong>
                        {% trans %}(run if problems are seen){% endtrans %}
                    </li>
                </ul>
            </li>
            <li>{% trans %}Logs{% endtrans %}:
                <ul>
                    <li><a class="button" href="{{ url('admin/tools', {'system' : system, 'tool' : 'logsDx'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Recalculate all distances{% endtrans %}</strong>
                        {% trans %}(run after updating GSQ values for listeners or signals){% endtrans %}
                    </li>
                    <li><a class="button" href="{{ url('admin/tools', {'system' : system, 'tool' : 'logsDaytime'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Mark daytime loggings{% endtrans %}</strong>
                        {% trans %}(run if problems are seen){% endtrans %}
                    </li>
                </ul>
            </li>
            <li>{% trans %}Listeners{% endtrans %}:
                <ul>
                    <li><a class="button" href="{{ url('admin/tools', {'system' : system, 'tool' : 'listenersStats'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Update stats{% endtrans %}</strong>
                        {% trans %}(run if problems are seen){% endtrans %}
                    </li>
                </ul>
            </li>

            <li>{% trans %}ICAO Data{% endtrans %}:
                <ul>
                    <li><a class="button" disabled='disabled' href="{{ url('admin/tools', {'system' : system, 'tool' : 'icaoImport'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Get latest data{% endtrans %}</strong>
                        {% trans %}(run once a month){% endtrans %}
                    </li>
                </ul>
            </li>

            <li>{% trans %}System{% endtrans %}:
                <ul>
                    <li><a class="button no-disable" href="{{ url('admin/tools', {'system' : system, 'tool' : 'systemExportDb'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Export Database{% endtrans %}</strong>
                        {% trans %}(run as needed){% endtrans %}
                    </li>
                    <li><a class="button no-disable email" href="{{ url('admin/tools', {'system' : system, 'tool' : 'systemEmailTest'}) }}">{% trans %}Go{% endtrans %}</a>
                        <strong>{% trans %}Send Test Email to:{% endtrans %}</strong>
                        <label class="sr-only" for="email">Email Address</label><input type="text" name="email" id="email" />
                    </li>
                </ul>
            </li>
        </ol>
    </div>
    <script>
        $(document).ready( function() {
            setExternalLinks();
            $('.admin_tools a').on('click', function(e) {
                if ($(this).hasClass('email')) {
                    var email, href;
                    e.preventDefault();
                    email = $('#email').val();
                    if ('' === email) {
                        alert(msg.email_needed);
                        return false;
                    }
                    href=($(this).attr('href').split('?')[0]) + '?email=' + email;
                    window.location.href = href;
                }
                if ($(this).hasClass('no-disable')) {
                    return;
                }
                $('.admin_tools a.button').attr('disabled', 'disabled');
            });
        });
    </script>
{% endblock %}
