{% extends 'main.html.twig' %}
{% block body %}
<div class="main">
    <div class="links quicklinks">
    Quick Links [
        <a href='#thanks'>Thanks</a> |
        <a href='#costs'>Costs</a> |
        <a href='#received'>Donations</a> |
        <a href='#finally'>Finally</a>
    ]
    </div>

    <h2 id="thanks">{% trans %}Thank You!{% endtrans %} <small>[ <a href='#top'><b>Top</b></a> ]</small></h2>
    <p>
        {% trans %}This service is offered <strong>guilt-free</strong> and without any form of commercial advertising as a gift to those who enjoy the hobby (art?) of NDB Listening.{% endtrans %}
    </p>
    <p>
        {% trans %}I am incredibly grateful to our volunteer <a href="#footer">Editors and Administrators</a> who selflessly give their time at great personal cost, but at no charge to the community.{% endtrans %}<br>
        {% trans %}They are:{% endtrans %}
        {% for a in admins %}<strong>{{ a }}</strong>{%
            if loop.index < admins|length
        %}{%
            if loop.index == admins|length - 1
        %} and {%
            else
        %}, {%
            endif
        %}{%
            endif
        %}{%
            endfor
        %}.<br>
        {% trans %}Without their tireless devotion this resource would simply not be able to continue operating.{% endtrans %}</p>
    <p>{% trans %}Thanks also to those listeners who provide their logs for inclusion.{% endtrans %}</p>

    <h2 id="costs" class="margin-top-2">About our Server Hosting Costs <small>[ <a href='#top'><b>Top</b></a> ]</small></h2>
    <p>
        <img src="{{ asset('/image/server.png') }}" alt="{% trans %}DL380-G5 server hosting RXX system (circa 2015){% endtrans %}"><br>
        <em>{% trans %}HP / Compaq DL380-G5 formerly used to host RXX system - we're now cloud based{% endtrans %}</em>
    </p>
    <p>
        {% trans with({ DOMAIN : domain, MONTHLY : monthly })%}As a guide, a single donation of $<strong>MONTHLY</strong> CAD would cover our website hosting costs for a month,
        while $<strong>DOMAIN</strong> CAD would pay for domain registration for a whole year.{% endtrans %}
    </p>
    <p>
        {% trans with({ ANNUAL : annual })%}It costs around $<strong>ANNUAL</strong> CAD per year to run this site, and for the last few years most of those costs have been covered by the 
        kind donors listed in the table below, some of whom have chosen at this time to remain anonymous.{% endtrans %}
    </p>
    <p>
        <strong>{% trans %}If you feel so inclined, you may make a one-time donation, or set up a monthly contribution via Paypal.{% endtrans %}</strong>
    </p>

    <div class="txt_c">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <div class="margin-1">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="A356JZL3MKZBG" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
            </div>
        </form>
    </div>

    <h2 id="received">Donations Received <small>[ <a href='#top'><b>Top</b></a> ]</small></h2>
    (Updated periodically)
    <table class='results short' style="width:auto;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Callsign</th>
                <th>S/P</th>
                <th>ITU</th>
                <th>Message</th>
                <th>$ CAD</th>
            </tr>
        </thead>
        <tbody>
            {% for d in donations %}
            <tr>
                <td>{{ d.date | date('Y-m-d')}}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.callsign|raw }}</td>
                <td>{{ d.sp }}</td>
                <td>{{ d.itu }}</td>
                <td style='max-width: 30em' title='{{ d.message }}'>{{ d.message|raw }}</td>
                <td class='txt_r'>${{ d.amount }} CAD</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="margin-top-2">Finally... <small>[ <a href='#top'><b>Top</b></a> ]</small></h2>
    <p>{% trans %}Sincere thanks to you for visiting and using this site, and whether you choose to donate or not, please be blessed by it - you are the reason this site even exists.{% endtrans %}</p>

    <p>Blessings,<br><br>Martin Francis<br>&lt;&gt;&lt;</p>
    <p>(August 27th, 2023)</p>
</div>
{% endblock %}