{% if awards[award] %}
    <h2 id="toggle_{{ award }}">
        <span style="display:none">&#9744;</span><span>&#9746;</span>
        {{ award_title }}
    </h2>
    <div id="{{ award }}" style="margin:0 0 1em 1.5em">
        <div class="row">
            <div class="small-12 columns" style="padding: 0">{{ award_info }}</div>
        </div>
        <div class="row">
            <div class="small-12 medium-3 columns" style="padding: 0 1em 0 0">
                <table class="results very-short">
                    <thead>
                        <tr>
                            <th>{% trans %}Miles{% endtrans %}</th>
                            <th>{% trans %}KM{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
{% for key, range in awards[award] %}
                        <tr>
                            <td>{{ key|split('|')[0] }}{{ key|split('|')[1] ? '-' : '+' }}{{ key|split('|')[1] ? key|split('|')[1] : '' }}</td>
                            <td>{{ key|split('|')[2] }}{{ key|split('|')[3] ? '-' : '+' }}{{ key|split('|')[3] ? key|split('|')[3] : '' }}</td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="small-12 medium-9 columns" style="padding: 0">
                <table class="results very-short">
                    <thead>
                    <tr>
                        <th class="num">{% trans %}KHz{% endtrans %}</th>
                        <th>{% trans %}ID{% endtrans %}</th>
                        <th>{% trans %}Location{% endtrans %}</th>
                        <th>{% trans %}S/P{% endtrans %}</th>
                        <th>{% trans %}ITU{% endtrans %}</th>
                        <th class="num">{% trans %}Pwr{% endtrans %}</th>
                        <th class="num">{% trans %}Miles{% endtrans %}</th>
                        <th class="num">{% trans %}KM{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
                        <th class="num">{% trans %}UTC{% endtrans %}</th>
                        <th class="cart">{% trans %}Order{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
{% for i, range in awards[award] %}
                    <tr>
{% if range %}
                        <td class="num">{{ range['khz'] }}</td>
                        <td><a href="{{ url('signal', { 'system' : system, 'id': range['id'] }) }}" data-popup="1">{{ range['call'] }}</a></td>
                        <td class="text-nowrap" style="max-width: 14em;overflow: hidden;text-overflow: ellipsis" title="{{ range['qth'] }}">{{ range['qth'] }}</td>
                        <td>{{ range['sp'] }}</td>
                        <td>{{ range['itu'] }}</td>
                        <td class="num">{{ range['pwr'] > 0 ? range['pwr'] : '&nbsp;' }}</td>
                        <td class="num">{{ range['dxMiles'] }}</td>
                        <td class="num">{{ range['dxKm'] }}</td>
                        <td class="text-nowrap">{{ range['logDate'] }}</td>
                        <td class="num">{{ range['logTime'] }}</td>
                        <td class="cart">[icon]</td>
{% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
{% endif %}
                    </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}