    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
        {{ form_start(form) }}
            <div id="form">
                {{ form_row(form.id)  }}
                <fieldset id="group_profile">
                    <div>
                        {{ form_label(form.call) }}
                        {{ form_widget(form.call) }}
                        {{ form_label(form.khz) }}
                        {{ form_widget(form.khz) }}
                        {{ form_label(form.pwr) }}
                        {{ form_widget(form.pwr) }}<div id="form_pwr_suffix">{% trans %}W{% endtrans %}</div>
                        {{ form_label(form.type) }}
                        {{ form_widget(form.type) }}
                    </div>
                    <div>
                        {{ form_label(form.active) }}
                        {{ form_widget(form.active) }}
                        {% if id %}
                            {{ form_label(form.firstHeard) }}
                            {{ form_widget(form.firstHeard) }}
                            {{ form_label(form.lastHeard) }}
                            {{ form_widget(form.lastHeard) }}
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset id="group_location">
                    <div>
                        {{ form_label(form.qth) }}
                        {{ form_widget(form.qth) }}
                    </div>
                    <div>
                        {{ form_label(form.sp) }}
                        {{ form_widget(form.sp) }}
                        <div id="form_sp_suffix"><a href="{{ url('states', { 'system' : system }) }}" data-popup="states|width=640,height=800,resizable=1">{% trans %}List{% endtrans %}</a></div>
                        {{ form_label(form.itu) }}
                        {{ form_widget(form.itu) }}
                        <div id="form_itu_suffix"><a href="{{ url('countries', { 'system' : system }) }}" data-popup="countries|resizable=1">{% trans %}List{% endtrans %}</a></div>
                    </div>
                    <div>
                        {{ form_label(form.gsq) }}
                        {{ form_widget(form.gsq) }}
                        {{ form_label(form.lat) }}
                        {{ form_widget(form.lat) }}
                        {{ form_label(form.lon) }}
                        {{ form_widget(form.lon) }}
                    </div>
                </fieldset>

                <fieldset id="group_latest_values">

                    {% if id %}
                        <legend>{% trans %}Latest Values{% endtrans %}</legend>
                        <div>
                            {{ form_label(form.lsb) }}
                            {{ form_widget(form.lsb) }}
                            {{ form_label(form.usb) }}
                            {{ form_widget(form.usb) }}
                            <label for="form_sec" data-tooltip style="cursor:pointer;" title="{% trans %}INFORMATION{% endtrans %}

{% trans %}Where two values are given for Cycle (e.g. 8.0/28.0), the first value is for the Ident portion and the second is for the whole cycle.{% endtrans %}">
                                <i class="fa fa-info-circle"></i>
                                {% trans %}Cycle{% endtrans %}
                            </label>
                            {{ form_widget(form.sec) }}
                            <div id="form_sec_suffix">{% trans %}(Sec){% endtrans %}</div>

                            {{ form_label(form.format) }}
                            {{ form_widget(form.format) }}
                        </div>
                        <div style="height: auto">
                            <label>{% trans %}Heard Here{% endtrans %}
                            </label>
                            <div id="heardIn">
                                {{ heardInHtml|raw }}
                                {% if '<b>' in heardInHtml %}
                                    <div class="text-nowrap float-right">(<a><b>XX</b></a> = {% trans %}Daytime Log{% endtrans %})</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div>
                        {{ form_label(form.notes) }}
                        {{ form_widget(form.notes) }}
                    </div>
                </fieldset>

                <fieldset id="group_">
                    {{ form_row(form.print) }}
                    {{ form_row(form.close) }}
                    {% if isAdmin %}{{ form_row(form.save) }}{% else %}{{ form_row(form.save_disabled) }}{% endif %}
                </fieldset>

            </div>
        {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
