<div>
    <table class="signal results short" style="width: 100%">
        <thead>
            <tr>
    {% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
                <th{%  if key and column.order %} id="{{ key }}|{{ column.order }}"{% endif %}
    {% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
    {% if column.tooltip %} title="{{ column.tooltip|trans }}"{% endif %}
    >{{ column.label|raw|trans }}</th>
    {% endif %}
    {% endfor %}
            </tr>
        </thead>
        <tbody>
    {% for r in records %}
            <tr{% if r.daytime %} class="daytime" title="{% trans %}Logged betweeen 10am and 2pm local time{% endtrans %}"{% endif %}>
    {% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
                <td{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>

    {% if key == 'name' %}
                    <a href="{{ url('listener', { 'system' : system, 'id': r.id }) }}" data-popup="1">{{ attribute(r, column.field)|raw }}</a>
    {% elseif key == 'date' %}
                    {{ attribute(r, column.field)|date('Y-m-d') }}
    {% else %}
                    {{ attribute(r, column.field)|raw }}
    {% endif %}
                </td>
    {% endif %}
    {% endfor %}
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>