{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% include 'signal/tabs.html.twig' %}
    <div class="controlPanel">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
            <img usemap="#map" alt="{{ mode }}"
                 src="{{ url('signal_rx_map_image', { 'system' : system, 'map' : map, 'id' : id })  }}" />
            <map name="map">
                {% for key, l in listeners %}
                <area alt="{{ l.name }}" href="{{ url('listener', {'system' : system, 'id' : l.id}) }}" coords="{{ l.mapX }},{{ l.mapY }},4" data-map="{{ l.id }}" />
                {% endfor %}
            </map>
        </div>
    </div>
</div>
{% include 'js_trans.html.twig' %}
<script>
$(document).ready( function() {
    setExternalLinks();
});
</script>
{% endblock %}