{% extends 'popup.html.twig' %}
{% block body %}
    <div class="main fullwidth">
        {% include 'signal/tabs.html.twig' %}
        <div class="controlPanel">
            <div class="header">{{ mode|raw }}</div>
            <div class="content row collapse">
                <table class="signal_rx_map short">
                    <tr>
                        <td>
                            <div class="scroll" id="list" style="display:none; padding: 0 10px 0 5px">
                                <h1 class="text-center">{% trans %}Listener Locations{% endtrans %}</h1>
                                <div>
                                    <table class="results">
                                        <thead>
                                        <tr>
                                            <th>{% trans %}Listener{% endtrans %}</th>
                                            <th>{% trans %}S/P{% endtrans %}</th>
                                            <th>{% trans %}ITU{% endtrans %}</th>
                                            <th>{% trans %}KM{% endtrans %}</th>
                                            <th>{% trans %}Miles{% endtrans %}</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="map">
                                <map name="imgmap" id="imgmap"></map>
                                <img id="rx_map"  src="{{ url('signal_rx_map_image', { 'system' : system, 'map' : map, 'id' : id }) }}" usemap="#imgmap" alt="{{ mode }}" />
                                <img id="point_here" alt="X" src="{{ asset('image/map_point_here.gif') }}" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<script>
var listeners = [
{% for l in listeners %}{'id':{{
    l.id }}, 'name':"{{
    l.name|raw }}", 'pri':{{
    l.primaryQth == 'Y' ? 1 : 0 }}, 'itu':'{{
    l.itu }}', 'sp':'{{
    l.sp }}', 'x':{{
    l.mapX }}, 'y':{{
    l.mapY }}, 'dt': {{
    l.daytime }}, 'km':'{{
    l.dxKm }}', 'mi':'{{
    l.dxMiles }}'},
{% endfor %}
];
</script>
<script>
    $(document).ready( function() {
        SLMap.init();
        setExternalLinks();
        setEqualHeight('#rx_map', '#list');
        $(window).resize(function() { setEqualHeight('#rx_map', '#list') });
    });
</script>
{% endblock %}