{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='signal_weather' %}
{% include 'listener/tabs.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
            {{ form_start(form) }}
            <div id="form">
                {{ form_row(form.id)  }}
                {% for group, fields in fieldGroups %}
                    <fieldset id="group_{{ group|lower|replace({' ' : '_'}) }}">
                        <legend>{{ group }}</legend>
                        {% for field in fields %}
                            {%  if field %}
                                {{ form_row(attribute(form, field))  }}
                            {% endif %}
                        {% endfor %}
                        <textarea id="weather">
{% if weather != false %}{{ weather|join("\n") }}{% else %}{% trans %}Press QNH to view recent barometric pressure readings.{% endtrans %}{% endif %}
                        </textarea>
                    </fieldset>
                {% endfor %}
            </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
</div>
{% endblock %}