<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ system|upper }} &gt; {{ mode }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet prefetch" href="{{ asset('css/foundation.min.css') }}" />
{% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/functions.js') }}"></script>
</head>
<body class="{{ system|lower }}">
{% block body_head %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
