{% set minified = (getEnv('APP_ENV') == 'dev' ? '' : '.min') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ system|upper }} &gt; {{ mode|raw|trans }}{% endblock %}</title>
    <link rel="stylesheet prefetch" href="{{ asset('css/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style' ~ minified ~ '.css') }}" />
{% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/functions' ~ minified ~ '.js') }}"></script>
</head>

<body class="{{ system|lower }}">
{% block body_head %}{% endblock %}
{% block body %}{% endblock %}
{% block body_footer %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
