{% set new_url = app.request.uri ~ (args['show'] is defined and args['show']!= '' ? '?show=' ~ args['show'] : '') %}
{% set classic_base = (isDev ? 'http://dev.' : 'https://www.') ~ 'classaxe.com/dx/ndb/' ~ system ~ '/' %}
<div class="toolbar version-switcher">
    [
    <a href="{%
        if classic.type == 'url'
    %}{{ classic_base }}{{ classic.value }}{%
        else
    %}#" onclick="alert('{{ classic.value }}');return false{%
        endif
    %}">Classic</a> |
    <a href="{{ new_url }}" class="active">{% trans %}New{% endtrans %}</a>
    <strong>{{ tag }}</strong>
    ]
</div>
