{% if (signals|length > 0 or isAdmin) %}
<p class="report_actions">
{% if signals|length > 0 %}
    <input type="button" class="button small" value="{% trans %}Print...{% endtrans %}" onclick="window.print()" />
    <input type="button" class="button small" value="{{ 'All %s > %s' |trans|format(system|upper, 'Excel')}}" onclick="exportSignallistExcel()" />
    <input type="button" class="button small" value="{{ 'All %s > %s'   |trans|format(system|upper, 'PDF')}}" onclick="exportSignallistPDF()" />
    <input type="button" class="button small" value="{{ 'All %s > %s'   |trans|format(system|upper, 'ILG')}}" onclick="exportSignallistILG()" />
{% endif %}
{% if isAdmin %}
    {% if isAdmin %}
        <input type="button" class="button small" value="{{ 'Add Signal...' | trans }}"
               onclick="window.open('{{ path('signal', { 'system' : system, 'id' : 'new'})}}', 'signal_new', popWinSpecs['signals_[id]'])"
        >
    {% endif %}
{% endif %}
</p>
{% endif %}