{# Include our twig widget customisations #}
{% form_theme form 'forms/custom.html.twig' %}
<section>
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ form_title }}</div>
        <div class="content clearfix">
    {{ form_start(form) }}
            <div id="form">
                {{ form_widget(form.paper) }}
                {{ form_widget(form.show) }}
                <fieldset class="section">
{% include 'forms/paging.html.twig' %}
                </fieldset>
                <fieldset class="section">
                    <legend class="line">{% trans %}Customise{% endtrans %}</legend>
                    {{ form_row(form.personalise) }}
                    <div style="display:inline-block; clear: none; float:right;">
                        {{ form_label(form.offsets) }}
                        {{ form_widget(form.offsets) }}
                    </div>
                    <div>
                        {{ form_label(form.range_gsq) }}
                        {{ form_widget(form.range_gsq) }}
                        {{ form_label(form.range_min) }}
                        {{ form_widget(form.range_min) }}
                        <span>-</span>
                        <label for="form_range_max" class="sr-only">{% trans %}DX Max{% endtrans %}</label>
                        {{ form_widget(form.range_max) }}
                        {{ form_widget(form.range_units) }}
                    </div>
                    <div style="display:inline-block;">
                        {% include 'signals/formSortby.html.twig' %}
                    </div>
                </fieldset>
                <fieldset class="section">
                    <legend class="line">{% trans %}Signal Details{% endtrans %}</legend>
                    {{ form_row(form.types) }}
                    <div style="display:inline-block; width:auto">
                        {{ form_label(form.call) }}
                        {{ form_widget(form.call) }}
                        <fieldset style="display:inline-block; width:auto; float: left;">
                            <legend class="sr-only">{% trans %}Frequency Range{% endtrans %}</legend>
                            {{ form_label(form.khz_1) }}
                            {{ form_widget(form.khz_1) }}
                            <span>-</span>
                            <label for="form_khz_2" class="sr-only">{% trans %}Freq. 2{% endtrans %}</label>
                            {{ form_widget(form.khz_2) }} <span>kHz</span>
                        </fieldset>
                    </div>
                    <div style="display:inline-block; width:auto; float:right">
                        {{ form_label(form.channels) }}
                        {{ form_widget(form.channels) }}
                    </div>
                    {{ form_row(form.states) }}
                    <div>
                        <label for="form_sp_itu_clause"><span class="sr-only">{% trans %}Combiner{% endtrans %}</span>&nbsp;</label>
                        {{ form_widget(form.sp_itu_clause) }}
                        <span>{% trans %}(Used when both State AND Country are given){% endtrans %}</span>
                    </div>
                    {{ form_row(form.countries) }}
                    {{ form_row(form.region) }}
                    {{ form_row(form.gsq) }}
                    {{ form_row(form.active) }}
                </fieldset>
                <fieldset class="section">
                    <legend class="line">{% trans %}Loggings{% endtrans %}</legend>
                    <div>
                        <div>
                            {{ form_label(form.listener) }}
                            {{ form_widget(form.listener_invert) }}
                            <div id="listener_selection_help">{% trans %}Use SHIFT or CONTROL to select multiple values{% endtrans %}</div>
                        </div>
                        {{ form_widget(form.listener) }}
                    </div>
                    <div>{{ form_label(form.heard_in) }}{{ form_widget(form.heard_in) }}
                        {{ form_widget(form.heard_in_mod) }}</div>
                    <div>
                        {{  form_label(form.logged_date_1) }}
                        {{  form_widget(form.logged_date_1) }} <span>-</span> {{  form_widget(form.logged_date_2) }}
                    </div>
                    <div>
                        {{  form_label(form.logged_first_1) }}
                        {{  form_widget(form.logged_first_1) }} <span>-</span> {{  form_widget(form.logged_first_2) }}
                    </div>
                    <div>
                        {{  form_label(form.logged_last_1) }}
                        {{  form_widget(form.logged_last_1) }} <span>-</span> {{  form_widget(form.logged_last_2) }}
                    </div>
                </fieldset>
                {% if (isAdmin) %}
                <fieldset class="section">
                    <legend class="line">{% trans %}Admin Only{% endtrans %}</legend>
                    <div>
                        {{  form_label(form.admin_mode) }}
                        {{  form_widget(form.admin_mode) }}
                    </div>
                </fieldset>
                {% endif %}
                <fieldset class="actionButtons">
                    <legend class="sr-only">{% trans %}Form Actions{% endtrans %}</legend>
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.clear) }}
                </fieldset>
            </div>
    {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</section>