{# Include our twig widget customisations #}
{% form_theme form 'forms/custom.html.twig' %}
<section>
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ form_title }}</div>
        <div class="content clearfix">
    {{ form_start(form) }}
            <div id="form">
                {{ form_widget(form.show) }}
                {{ form_widget(form.paper) }}
                {{ form_widget(form.filename) }}
                <fieldset class='section' style='display:none' id='paging'>
{% include 'forms/paging.html.twig' %}
                </fieldset>

                <fieldset class="section">
                    <legend id="signalDetails">{% trans %}Signal Details{% endtrans %}</legend>
                    {{ form_row(form.type) }}
                    {{ form_row(form.status) }}
                    <div>
                        <label for="form_call"><img src="{{ asset('image/icon_info.png') }}" style="height: 1em; cursor: pointer" alt="Info" title="TIP: enter call and frequency as CALL-nnn to set frequency fields as well"> Call / ID</label>
                        {{ form_widget(form.call) }}
                        <fieldset style="display:inline-block; width:auto; float: left;">
                            <legend class="sr-only">{% trans %}Frequency Range{% endtrans %}</legend>
                            {{ form_label(form.khz_1) }}
                            {{ form_widget(form.khz_1) }}
                            <span>-</span>
                            <label for="form_khz_2" class="sr-only">{% trans %}Freq. 2{% endtrans %}</label>
                            {{ form_widget(form.khz_2) }} <span>kHz</span>
                        </fieldset>
                        {{ form_label(form.channels) }}
                        {{ form_widget(form.channels) }}
                    </div>
                    {{ form_row(form.states) }}
                    <div>
                        <label for="form_sp_itu_clause"><span class="sr-only">{% trans %}Combiner{% endtrans %}</span>&nbsp;</label>
                        {{ form_widget(form.sp_itu_clause) }}
                        <span>{% trans %}(Used when both State AND Country are given){% endtrans %}</span>
                    </div>
                    {{ form_row(form.countries) }}
                    {{ form_row(form.region) }}
                    {{ form_row(form.gsq) }}
                    <div>
                        {{ form_label(form.recently) }}
                        {{ form_widget(form.recently) }}
                        {{ form_label(form.within) }}
                        {{ form_widget(form.within) }}
                    </div>
                    {{ form_row(form.notes) }}
                </fieldset>

                <fieldset class="section" id="section_loggings">
                    <legend class="line toggle">{% trans %}Loggings{% endtrans %}
                        [<span id="section_loggings_show"{% if expanded.loggings %} style="display:none"{% endif %}>{% trans %}Show{% endtrans %}</span><span
                                id="section_loggings_hide"{% if not expanded.loggings %} style="display:none"{% endif %}>{% trans %}Hide{% endtrans %}</span>]
                    </legend>
                    <fieldset{% if not expanded.loggings %} style="display:none"{% endif %}>
                        {% if system == 'rww' %}
                            {{ form_row(form.rww_focus) }}
                        {% endif %}
                        <div>
                            {{ form_label(form.heard_in) }}
                            {{ form_widget(form.heard_in) }}
                            {{ form_widget(form.heard_in_mod) }}
                        </div>
                        <div>
                            <div>
                                {{ form_label(form.listener) }}
                                {{ form_widget(form.listener_invert) }}
                                <div id="listener_selection_help">
                                    {% trans %}Use SHIFT or CONTROL to select multiple values{% endtrans %}
                                </div>
                                <div id="listener_type">
                                    {{ form_label(form.listener_filter) }}
                                    {{ form_widget(form.listener_filter) }}
                                </div>
                            </div>
                            {{ form_widget(form.listener) }}
                        </div>
                        <div>
                            {{  form_label(form.logged_date_1) }}
                            {{  form_widget(form.logged_date_1) }} <span>-</span> {{  form_widget(form.logged_date_2) }}
                        </div>
                        <div>
                            {{  form_label(form.logged_first_1) }}
                            {{  form_widget(form.logged_first_1) }} <span>-</span> {{  form_widget(form.logged_first_2) }}
                        </div>
                        <div>
                            {{  form_label(form.logged_last_1) }}
                            {{  form_widget(form.logged_last_1) }} <span>-</span> {{  form_widget(form.logged_last_2) }}
                        </div>
                    </fieldset>
                </fieldset>

                <fieldset class="section" id="section_customise">
                    <legend class="line toggle">{% trans %}Customise{% endtrans %}
                        [<span id="section_customise_show"{% if expanded.customise %} style="display:none"{% endif %}>{% trans %}Show{% endtrans %}</span><span
                            id="section_customise_hide"{% if not expanded.customise %} style="display:none"{% endif %}>{% trans %}Hide{% endtrans %}</span>]
                    </legend>
                    <fieldset{% if not expanded.customise %} style="display:none"{% endif %}>
                        {{ form_row(form.personalise) }}
                        <div>
                            {{ form_label(form.offsets) }}
                            {{ form_widget(form.offsets) }}
                            {{ form_widget(form.hidenotes) }}
                            {{ form_widget(form.morse) }}
                        </div>
                        <div>
                            {{ form_label(form.range_gsq) }}
                            {{ form_widget(form.range_gsq) }}
                            {{ form_label(form.range_min) }}
                            {{ form_widget(form.range_min) }}
                            <span>-</span>
                            <label for="form_range_max" class="sr-only">{% trans %}DX Max{% endtrans %}</label>
                            {{ form_widget(form.range_max) }}
                            {{ form_widget(form.range_units) }}
                        </div>
                        <div>
                            {% include 'signals/formSortby.html.twig' %}
                        </div>
                    </fieldset>
                </fieldset>
                {% if (isAdmin) %}
                <fieldset class="section">
                    <legend class="line">{% trans %}Admin Only{% endtrans %}</legend>
                    <div>
                        {{  form_label(form.admin_mode) }}
                        {{  form_widget(form.admin_mode) }}
                    </div>
                </fieldset>
                {% endif %}
                <fieldset class="actionButtons">
                    <legend class="sr-only">{% trans %}Form Actions{% endtrans %}</legend>
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.save) }}
                    {{ form_widget(form.clear) }}
                </fieldset>
            </div>
    {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</section>