{% if signals|length > 0 %}
{% include 'signals/actions.html.twig' %}
<table class="signal results">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th{%  if key and column.order %} id="{{ key }}_{{ column.order }}"{% endif %}
{% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip | trans }}"{% endif %}
>{{ column.label | trans | raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for signal in signals %}
    {% set type = typeRepository.TypeForCode(signal.type) %}
        <tr
            class="{% if signal.active == '0' %}inactive {% endif %}type_{{ type.class|lower }}"
            title="{{ type.title }}{% if signal.active == '0' %} (inactive){% endif %}"
        >
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td {% if column.td_class %} class="{{ column.td_class }}"{% endif %}>
                {{ attribute(signal, column.field) | raw }}
            </td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% include 'signals/actions.html.twig' %}
{% else %}
    <p class="no-results">{% trans %}(No signals found matching your criteria){% endtrans %}</p>
{% endif %}