{% if signals|length > 0 %}
{% include 'listeners/actions.html.twig' %}
<table class="signal results">
    <thead>
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <th{%  if key and column.order %} id="{{ key }}_{{ column.order }}"{% endif %}
{% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip }}"{% endif %}
>{{ column.label|raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for signal in signals %}
        <tr>
{% for key, column in columns %}
{% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
            <td{% if key == 'active' %} title="{{ signal.active ? '' : 'Inactive' }}" class="{{ signal.active ? '' : 'inactive' }}">{% else %}{% if column.td_class %} class="{{ column.td_class }}"{% endif %}>{% endif %}
{{ attribute(signal, column.field)|raw }}</td>
{% endif %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% include 'listeners/actions.html.twig' %}
{% else %}
    <p class="no-results">(No signals found matching your criteria)</p>
{% endif %}