{% extends 'main.html.twig' %}

{% block body %}
    <div class="main">
        <h1>{{ mode | trans }}</h1>
        <ul>
            <li>{% trans %}Click on any station ID for details, GSQ for location map, Heard In list for reception map and Logs value to see all logs for the station.{% endtrans %}</li>
            <li>{% trans %}To list different types of signals, check the boxes shown for 'Types' below. Inactive stations are normally shown at the end of the report.{% endtrans %}</li>
            <li>{% trans %}This report prints best in Landscape.{% endtrans %}</li>
        </ul>
        {% if (args.call != '') %}
            <ul>
                <li>{{ "Any exact matches for <strong>%s</strong> will shown at the top of this list, regardless of the station's current operational status." | trans | format(args.call) | raw }}</li>
            </ul>
        {% endif %}
        <ul class="refs">
{% for type in typeRepository.getSignalTypesSearched(args.types) %}
{% set refs = typeRepository.getTypeForCode(type).refs %}
{% if refs %}
            <li><strong>{{ refs.title | trans }}</strong>
                    [
{% for link in refs.links %}
                <a href="{{ link.url }}">{{ link.label | trans }}</a>{% if not loop.last %} | {% endif %}
{% endfor %}
                    ]
            </li>
{% endif %}
{% endfor %}
        </ul>
        {% include 'status.html.twig' %}
        {% set form_title='Customise %s Signals List' | trans | format(system|upper) %}
        {% set form_class='signal_list' %}
        <div class="row">
            <div class="small-12 medium-8 columns">
                {% include 'forms/signals/form.html.twig' %}
            </div>
        </div>

        {% include 'signals/grid.html.twig' %}

        <script>
            $(document).ready( function() {
                setPagingActions();
                setFormTypesStyles();
                setFormTypesDefault();
                setFormTypesAllAction();
                setFormCountryAction();
                setFormRegionAction();
                setFormRangeAction();
                setFormRangeUnitsDefault();
                setFormListenerInvertDefault();
                setFormListenerOptionsStyle();
                setFormResetAction('signals');
                setColumnSortActions();
                setColumnSortedClass();
                setExternalLinks();
                $('#form_paging_status').html('{{ 'of %s signals' | trans | format(results.total) }}');
            });
        </script>
    </div>
{% endblock %}
