{#<pre>{{ dump(signals[0]) }}</pre>#}
<div class="row">
    <div class="small-6 text-left"><h2 id="signals_title"></h2></div>
    <div class="small-6 text-right"><h3 id="signals_personalise"></h3></div>
</div>

<table id="wide" class="signal results">
    <thead></thead>
    <tbody id="signals_list">
        <tr><th colspan="{{ columns|length }}" style="line-height: 3em">{% trans %}Loading... Please wait{% endtrans %}</th></tr>
    </tbody>
</table>
<div id="narrow"></div>
<script>
var args = {
  types: {
{% for key, type in types %}
    {{ key }} : { classname: 'type_{{ type.class|lower }}', title: '{{ type.title|trans }}' }{% if not loop.last %},
{% endif %}
{% endfor %}

  },
  urls: {
    delete:     '{{ url('signal_delete', { 'system' : system, 'id' : '*' }) }}',
    listeners:  '{{ url('signal_listeners', { 'system' : system, 'id' : '*' }) }}',
    logs:       '{{ url('signal_logs', { 'system' : system, 'id' : '*' }) }}',
    merge:      '{{ url('signal_merge', { 'system' : system, 'id' : '*' }) }}',
    profile:    '{{ url('signal', { 'system' : system, 'id' : '*' }) }}'
  }
}
$(document).ready(function() {
    SIGNALS.load(args);
});
</script>