{#<pre>{{ dump(signals[0]) }}</pre>#}
<div class="row">
    <div class="small-6 text-left"><h2 id="signals_title"></h2></div>
    <div class="small-6 text-right"><h3 id="signals_personalise"></h3></div>
</div>

<table id="wide" class="signal results">
    <thead>
    <tr>
        {% if args.personalise %}<th class="txt_vertical nosort rowspan2 th"><div>{% trans %}Logged{% endtrans %}</div></th>{% endif %}
        {% for key, column in columns %}
            {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg in args|keys and attribute(args, column.arg) != ''))) %}
                <th{%  if key and column.order %} id="{{ key }}|{{ column.order }}"{% endif %}
                        {% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
                        {% if column.tooltip %} title="{{ column.tooltip | trans }}"{% endif %}
                >{% if column.th_class == 'txt_vertical' %}<div>{{ column.label | trans | raw }}</div>{% else %}{{ column.label | trans | raw }}{% endif %}</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody id="signals_list">
        <tr><th colspan="{{ columns|length }}">{% trans %}Loading... Please wait{% endtrans %}</th></tr>
    </tbody>
</table>
<div id="narrow"></div>
<script>
var args = {
  types: {
{% for key, type in types %}
    {{ key }} : { classname: 'type_{{ type.class|lower }}', title: '{{ type.title|trans }}' }{% if not loop.last %},
{% endif %}
{% endfor %}

  },
  urls: {
    delete:     '{{ url('signal_delete', { 'system' : system, 'id' : '*' }) }}',
    listeners:  '{{ url('signal_listeners', { 'system' : system, 'id' : '*' }) }}',
    logs:       '{{ url('signal_logs', { 'system' : system, 'id' : '*' }) }}',
    merge:      '{{ url('signal_merge', { 'system' : system, 'id' : '*' }) }}',
    profile:    '{{ url('signal', { 'system' : system, 'id' : '*' }) }}'
  }
}
$(document).ready(function() {
    SIGNALS.load(args);
});
</script>