{#<pre>{{ dump(signals[0]) }}</pre>#}
    <div class="row">
        <div class="small-6 text-left">
            <h2>
            {% if (isAdmin and args.admin_mode == 1) %}
                {% trans %}Showing Unlogged Signals for all systems{% endtrans %}
            {% elseif (isAdmin and args.admin_mode == 2) %}
                {% trans %}Showing Logged and Unlogged Signals for all systems{% endtrans %}
            {% else %}
                {{ system|upper }} {% trans %}Signals List{% endtrans %}
            {% endif %}
            </h2>
        </div>
        <div class="small-6 text-right">{% if personalised %}<h3>{{ 'Personalised for %s%s%s'|trans|format(
            "<a href='" ~ url('listener', { 'system' : system, 'id' : args.personalise }) ~ "' data-popup='1'>",
            personalised,
            '</a>'
        )|raw }}</h3>{% endif %}</div>
    </div>

{% if signals|length > 0 %}
    <table class="signal results">
    <thead>
        <tr>
            {% if args.personalise %}<th class="txt_vertical nosort"><div>{% trans %}Logged{% endtrans %}</div></th>{% endif %}
{% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg in args|keys and attribute(args, column.arg) != ''))) %}
            <th{%  if key and column.order %} id="{{ key }}|{{ column.order }}"{% endif %}
{% if column.th_class or column.sort%} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}
{% if column.tooltip %} title="{{ column.tooltip | trans }}"{% endif %}
>{{ column.label | trans | raw }}</th>
{% endif %}
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for signal in signals %}
    {% set type = typeRepository.TypeForCode(signal.type) %}
        <tr
            class="{% if signal.active == 0 %}inactive {% endif %}type_{{ type.class|lower }}{% if (args.personalise and signal.personalise)%} logged{% endif %}"
            title="{{ type.title|trans }}{% if signal.active == 0 %} {% trans %}(inactive){% endtrans %}{% endif %}"
        >
{% if args.personalise %}<th title="{% trans %}Logged by Personalised Listener{% endtrans %}">{{ signal.personalise ? '&#x2714;' : '' }}</th>{% endif %}
{% for key, column in columns %}
   {% include 'signals/field.html.twig' %}
{% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p class="no-results">{% trans %}(No signals found matching your criteria){% endtrans %}</p>
{% endif %}