<script>
//<!--
var signals = [
{% for row in signals %}
    {% set type = typeRepository.TypeForCode(row.type) %}{ 'id':{{
    row.ID }}, 'khz':{{
    row.khz }}, 'call':'{{
    row.call }}', 'active':{{
    row.active ? '1' : '0' }}, 'className':'{{
    type.class|lower }} {{ row.active == '0' ? 'inactive' : 'active' }}', 'type':'{{
    type.title|trans }}{% if row.active == 0 %} {% trans %}(inactive){% endtrans %}{% endif %}', 'typeId':{{
    row.type }}, 'pwr':'{{
    row.pwr }}', 'qth':'{{
    row.QTH }}', 'icon':'{{
    type.class|lower }}', 'itu':'{{
    row.ITU }}', 'sp':'{{
    row.SP }}', 'lat':{{
    row.lat }}, 'lon':{{
    row.lon }}, 'gsq':'{{
    row.GSQ }}', 'lsb':'{{
    row.lsb }}', 'usb':'{{
    row.usb }}', 'sec':'{{
    row.sec }}', 'fmt':'{{
    row.format }}', 'heard':'{{
    row.formattedLastHeard }}', 'heard_in':'{{
    row.heardIn }}'{% if args.personalise %},'logged':{{ row.personalise ? 1 : 0 }}, {% endif %} },
{% endfor %}
];

var types = [ {{ types|keys|join(', ') }} ];

$(document).ready( function() {
    $('#map').height($(window).height() - 120);
    $('#scrollablelist').height($('#map').height() + 40);
    $(window).resize(function () {
        $('#map').height($(window).height() - 120);
        $('#scrollablelist').height($('#map').height() + 40);
    });
});
// -->
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvsfY0bgnVB-gl_nMHGQ71rp1WTz9tGM&callback=SMap.init"></script>
<div class="row">
    <div class="small-6 text-left"><h2>{{ system|upper }} {% trans %}Signals Map{% endtrans %}</h2></div>
    <div class="small-6 text-right">{% if personalised %}<h3>{{ 'Personalised for %s%s%s'|trans|format(
            "<a href='" ~ url('listener', { 'system' : system, 'id' : args.personalise }) ~ "' data-popup='1'>",
            personalised,
            '</a>'
        )|raw }}</h3>{% endif %}</div>
</div>
<table class="map_layout">
    <tbody>
    <tr>
        <td width="35%">
            <div class="scroll">
                <div id="scrollablelist">
                    <table class="results" id="markerlist" style="display:none; margin: 0; max-width: 500px">
                        <thead>
                        <tr>
{% if personalised %}
                            <th class="txt_vertical"><div>{% trans %}Logged{% endtrans %}</div></th>
{% endif %}
                            <th>{% trans %}KHz{% endtrans %}</th>
                            <th>{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}'Name' and Location{% endtrans %}</th>
                            <th>{% trans %}S/P{% endtrans %}</th>
                            <th>{% trans %}ITU{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <p class="no-results">{% trans %}(No signals found matching your criteria){% endtrans %}</p>
        </td>
        <td>
            <div class="content map">
                <div>
                    <div id="header">
                        <div class="form_layers">
                            <div>
                                <label>
                                    <strong>{% trans %}Show{% endtrans %}</strong>
                                </label>
                            </div>
                            <div>
                                <label title="{% trans %}Show Maidenhead Locator Grid Squares{% endtrans %}">
                                    <input type="checkbox" id="layer_grid" checked="checked" />
                                    {% trans %}Grid{% endtrans %}
                                </label>
                            </div>
                            <div>
                                <label title="{% trans %}Show Active Signals{% endtrans %}">
                                    <input type="checkbox" id="layer_active" checked="checked" />
                                    {% trans %}Active{% endtrans %}
                                    <img src="{{ asset('image/pins/ndb_1.png') }}" alt="{% trans %}Active Signal Marker{% endtrans %}" style="height:0.8em"/>
                                </label>
                            </div>
                            <div>
                                <label title="{% trans %}Show Inactive Signals{% endtrans %}">
                                    <input type="checkbox" id="layer_inactive" checked="checked" />
                                    {% trans %}Inactive{% endtrans %}
                                    <img src="{{ asset('image/pins/ndb_0.png') }}" alt="{% trans %}Inactive Signal Marker{% endtrans %}" style="height:0.8em; opacity: 0.8" />
                                </label>
                            </div>
                        </div>
                        <div class="form_layers">
                            <div><label><strong>{% trans %}Signal Types:{% endtrans %}</strong></label></div>
                            {% for type, settings in types %}
                                <div class="{{ settings.type }}"><label><input type="checkbox" id="layer_{{ type }}" checked="checked" /> {{ settings.label }}</label></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>