{% set page, itu, sp = 1, '', '' %}
<table class="seeklist">
    <thead>
        <tr class="sl_1">
            <td colspan="{{ paper.cols }}">
                <div class="row">
                    <h2 class="small-{{ personalised ? 3 : 6 }} text-left">{{ '%s Seeklist'|trans|format(system|upper) }}</h2>
                    {% if personalised %}<h3 class="small-6 text-center">{{ 'Personalised for %s'|trans|format(personalised) }}</h3>{% endif %}
                    <h4 class="small-{{ personalised ? 3 : 6 }} text-right">{{ 'Page %s'|trans|format(page) }}</h4>
                </div>
            </td>
        </tr>
        <tr class="sl_2">
            <td colspan="{{ paper.cols }}" class="head">
                <div class="row">
                    <div class="small-6 text-left">
                        {% if page == 1 %}
                            {% trans %}Signals including <i>Inactive</i> stations{% endtrans %}
                            {% if personalised %}
                                {{ '(%s of %s)' | trans | format(attribute(itu_sp, 'all').heard, attribute(itu_sp, 'all').total) }}
                            {% else %}
                                {{ '(total: %s)' | trans | format(attribute(itu_sp, 'all').total) }}
                            {% endif %}
                        {% else %}
                            {% trans %}Signals Seeklist (continued){% endtrans %}
                        {% endif %}
                    </div>
                    <div class="small-6 text-right">{{ 'Updated %s'|trans|format('Feb 2, 2019') }}</div>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for i in range(1, paper.cols) %}
                <td style="width: {{ (100/paper.cols)|round(2) }}%">
                {% for signal in signals %}
                    {% if itu != signal.itu or sp != signal.sp %}
                    {% set itu, sp, key = signal.itu, signal.sp , signal.itu ~ '_' ~ signal.sp %}
                    {% set stats = attribute(itu_sp, key) %}
                    <div class="clearfix sl_h">
                        <span><b>{{ itu }} {{ sp }}</b></span>
                        <em>({% if (args.personalise) %}{{ stats.heard }} of {% endif %}{{ stats.total  }})</em>
                    </div>

                    {% endif %}
                    <div class="clearfix sl_d">
                        <span>{{ signal.khz | round(3) }}</span>
                        <span>{{ signal.call}}</span>
                        <em>[{{ signal.personalise ? 'X' : ' ' }}]</em>
                    </div>
                {% endfor %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>