{% set itu, sp = '', ''  %}
{% set pages = (seeklistColumns|length / paper.cols)|round(0, 'ceil') %}
{% if pages == 0 %}{% set pages = 1 %}{% endif %}
{% for page in range(1, pages) %}
    <table class="seeklist">
        <thead>
            <tr class="sl_1">
                <td colspan="{{ paper.cols }}">
                    <div class="row">
                        <h2 class="small-{{ personalised ? 2 : 6 }} text-left">{{ '%s Seeklist'|trans|format(system|upper) }}</h2>
                        {% if personalised %}<h3 class="small-8 text-center">
                            {{ 'Personalised for %s%s%s'|trans|format(
                                    "<a href='" ~ url('listener', { 'system' : system, 'id' : args.personalise }) ~ "' data-popup='1'>",
                                    personalised,
                                    '</a>'
                                )|raw }}
                            </h3>{% endif %}
                        <h4 class="small-{{ personalised ? 2 : 6 }} text-right">{{ 'Page %s of %s'|trans|format(page, pages) }}</h4>
                    </div>
                </td>
            </tr>
            <tr class="sl_2">
                <td colspan="{{ paper.cols }}" class="head">
                    <div class="row">
                        <div class="small-6 text-left">
                        {% if page == 1 %}
                            {% if args.active == '1' %}
                                {% trans %}Active Signals{% endtrans %}
                            {% endif %}
                            {% if args.active == '2' %}
                                {% trans %}<i>Inactive</i> signals{% endtrans %}
                            {% endif %}
                            {% if args.active == ''  %}
                                {% trans %}Signals including <i>Inactive</i> stations{% endtrans %}
                            {% endif %}
                            {% if personalised %}
                                {{ '(received %s of %s)' | trans | format(attribute(seeklistStats, 'all').heard, attribute(seeklistStats, 'all').total) }}
                            {% else %}
                                {{ '(total: %s)' | trans | format(attribute(seeklistStats, 'all').total) }}
                            {% endif %}
                        {% else %}
                            {% trans %}Signals Seeklist (continued){% endtrans %}
                        {% endif %}
                        </div>
                        <div class="small-6 text-right">
                            {% trans with {
                                '[S]'  : '<span id="seeklist_last"></span>',
                                '%SYSTEM%' : system|upper
                                }
                            %}Updated [S]{% endtrans %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 text-left">
                            <label for="seeklist_paper">{% trans%}Paper Size{% endtrans %}</label>
                            <select style="width: 300px" id="seeklist_paper">
                                {% for lbl, key in paperChoices %}
                                    <option value="{{ key }}"{% if key == args['paper'] %} selected="selected"{% endif %}>{{ lbl }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% if seeklistColumns|length %}
            {% for col in range(1, paper.cols) %}
                <td style="vertical-align: top; width: {{ (100/paper.cols)|round(2) }}%">
                {% if seeklistColumns|length >= (col) + ((page -1) * paper.cols) %}
                    {% for signal in seeklistColumns[ (col) + ((page -1) * paper.cols) - 1] %}
                        {% if itu != signal.itu or sp != signal.sp %}
                            {% set itu, sp, key = signal.itu, signal.sp , signal.itu ~ '_' ~ signal.sp %}
                            {% set sl_stats = attribute(seeklistStats, key) %}
                            <div class="clearfix sl_h">
                                <span><b>{{ itu }} {{ sp }}</b></span>
                                <em>({% if (args.personalise) %}{{ sl_stats.heard }} of {% endif %}{{ sl_stats.total  }})</em>
                            </div>
                        {% endif %}
                        <div {% if not signal.active %}title="(Inactive)"{% endif %} class="clearfix sl_d{% if signal.personalise %} heard{% endif %}{% if not signal.active %} inactive{% endif %}">
                            <span>{{ signal.khz | round(3) }}</span>
                            <span>{{ signal.call|raw|unescape}}</span>
                            <em>{{ signal.personalise ? '&#9745;' : '&#9744;' }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
                </td>
            {% endfor %}
            {% else %}
                <td colspan="{{ paper.cols }}">
                    {% trans %}(No signals found matching your criteria){% endtrans %}
                </td>
            {% endif %}
            </tr>
        </tbody>
    </table>
{% endfor %}
