{% if (paper) %}
{% set page, itu, sp = 1, '', '' %}
<table class="seeklist">
    <tr>
        {% for i in range(1, paper.cols) %}
            <td style="width: {{ (100/paper.cols) }}%">
            {% for signal in signals %}
                {% if itu != signal.itu or sp != signal.sp %}
                {% set itu, sp, key = signal.itu, signal.sp , signal.itu ~ '_' ~ signal.sp %}
                {% set stats = attribute(itu_sp, key) %}
                <div class="clearfix">
                    <div class='float-left'><b>{{ itu }} {{ sp }}</b></div>
                    <div class='float-right'>({% if (args.personalise) %}{{ stats.heard }} of {% endif %}{{ stats.total  }})</div>
                </div>
                {% endif %}
                {{ signal.personalise }}
            {% endfor %}
            </td>
        {% endfor %}
    </tr>
</table>
{% endif %}