<nav>
    <a href="#main" class="sr-only">Skip to Main Content</a>
    <div class="menu-centered" role="navigation">
        <ul class="menu header">
            <li><h2>{{ systems[system]['title']|trans }}</h2></li>
        </ul>
        <ul class="menu system">
    {% for key, systemRepo in systems %}
            <li{% if (system == key) %} class="is-active"{% endif %}>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'system' : key})) }}">{{ systemRepo['menu']|trans }}</a>
            </li>
    {% endfor %}
        </ul>
        <ul class="menu mode">
    {% for key, modeRepo in modes[0] %}
    {% if ((isAdmin and modeRepo.admin) or (not isAdmin and modeRepo.guest))%}
            <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                <a href="{{ url(key, { '_locale' : _locale, 'system' : system}) }}">{{ modeRepo['menu']|trans }}</a>
            </li>
    {% endif %}
    {% endfor %}
        </ul>
    {% if isAdmin %}
        <ul class="menu mode">
    {% for key, modeRepo in modes[1] %}
    {% if ((isAdmin and modeRepo.admin) or (not isAdmin and modeRepo.guest))%}
            <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                <a href="{{ url(key, { '_locale' : _locale, 'system' : system }) }}">{{ modeRepo['menu']|trans }}</a>
            </li>
    {% endif %}
    {% endfor %}
        </ul>
    {% endif %}
        <ul class="menu language">
    {% for key, label in languages %}
            <li{% if (_locale == key) %} class="is-active"{% endif %}>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : key})) }}">{{ label }}</a>
            </li>
    {% endfor %}
        </ul>
    </div>
</nav>