<nav>
    <a href="#main" class="sr-only">Skip to Main Content</a>
    <div class="menu-centered" role="navigation">
        <ul class="menu header">
            <li>
                <h2>
                    <span class="show-for-medium">{{ systems[system]['title']|trans }} - v{{ gitTag }}</span>
                    <span class="show-for-small-only">{{ systems[system]['title_s']|trans }}<br>v{{ gitTag }}</span>
                </h2>
            </li>
        </ul>
        <ul class="menu system">
{% for key, systemRepo in systems %}
            <li{% if (system == key) %} class="is-active"{% endif %}>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'system' : key})) }}">
                    <span class="show-for-medium">{{ systemRepo['menu']|trans }}</span>
                    <span class="show-for-small-only">{{ systemRepo['menu_s']|trans }}</span>
                </a>
            </li>
{% endfor %}
        </ul>
        <ul class="menu mode">
{% for key, modeRepo in modes[0] %}{% if ((isAdmin and modeRepo.admin) or (not isAdmin and modeRepo.guest))%}
            <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                <a href="{% if modeRepo.url %}{{ modeRepo.url }}{% else %}{{ url(key, { 'system' : system}) }}{% endif %}"{% if modeRepo.url %} rel="external"{% endif %}>
                    <span>{{ modeRepo['menu']|trans|raw }}</span>
                    {% if modeRepo['menu'] == 'Changes' and gitAge <= gitNew %}<span class="new">&#9673;</span>{% endif %}
                    {% if modeRepo['menu'] == 'CLE' %}<span class="cle" style="display:none">&#9673;</span>{% endif %}
                </a>
            </li>
{% endif %}{% endfor %}
        </ul>
        <ul class="menu mode">
            {% for key, modeRepo in modes[1] %}{% if ((isAdmin and modeRepo.admin) or (not isAdmin and modeRepo.guest))%}
                <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                    <a href="{% if modeRepo.url %}{{ modeRepo.url }}{% else %}{{ url(key, { 'system' : system}) }}{% endif %}"{% if modeRepo.url %} rel="external"{% endif %}>
                        {{ modeRepo['menu']|trans|raw }}
                    </a>
                </li>
            {% endif %}{% endfor %}
        </ul>
{% if isAdmin %}
        <ul class="menu mode">
            {% for key, modeRepo in modes[2] %}
                {% if (access b-and modeRepo['access'])%}
                    <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                        <a href="{{ url(key, { 'system' : system }) }}">{{ modeRepo['menu']|trans|raw }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}
        <div style="display: none" class="cle">
            <b><a href="{{ url('cle', { 'system' : system }) }}">CLE {{ cle.cle }}</a></b>
            {% if system == 'reu' %}
                {{ cle.europeRange1Low }} - {{ cle.europeRange1High }}
                {% if cle.europeRange2Low %} and {{ cle.europeRange2Low }} - {{ cle.europeRange2High }}{% endif %}
            {% else %}
                {{ cle.worldRange1Low }} - {{ cle.worldRange1High }}
                {% if cle.worldRange2Low %} and {{ cle.worldRange2Low }} - {{ cle.worldRange2High }}{% endif %}
            {% endif %}KHz
        </div>
{#        <ul class="menu language">#}
{#{% for key, label in languages %}#}
{#            <li{% if (_locale == key) %} class="is-active"{% endif %}>#}
{#                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : key})) }}">{{ label }}</a>#}
{#            </li>#}
{#{% endfor %}#}
{#        </ul>#}
    </div>
</nav>


<script>
function checkCleActive() {
    var cle = {
        num: '{{ cle.cle }}',
        start: new Date('{{ cle.dateStart | date('Y-m-d 12:00:00') }}'),
        end: new Date('{{ cle.dateEnd | date('Y-m-d 11:59:59') }}'),
        now: new Date(),
        active: false
    }
    cle.start.setTime(cle.start.getTime() + cle.now.getTimezoneOffset() * 60 * 1000);
    cle.end.setTime(cle.end.getTime() + cle.now.getTimezoneOffset() * 60 * 1000);
    if (cle.now >= cle.start && cle.now <= cle.end) {
        $('.cle').show();
    }
}
checkCleActive();
</script>
