<nav>
    <a href="#main" class="sr-only">Skip to Main Content</a>
    <div class="menu-centered" role="navigation">
        <ul class="menu header">
            <li>
                <h2>
                    <span class="show-for-medium">{{ systems[system]['title']|trans }} - v{{ gitTag }}</span>
                    <span class="show-for-small-only">{{ systems[system]['title_s']|trans }}<br>v{{ gitTag }}</span>
                </h2>
            </li>
        </ul>
        <ul class="menu system">
{% for key, systemRepo in systems %}
            <li{% if (system == key) %} class="is-active"{% endif %}>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'system' : key})) }}">
                    <span class="show-for-medium">{{ systemRepo['menu']|trans }}</span>
                    <span class="show-for-small-only">{{ systemRepo['menu_s']|trans }}</span>
                </a>
            </li>
{% endfor %}
        </ul>
        <ul class="menu mode">
{% for key, modeRepo in modes[0] %}{% if ((isAdmin and modeRepo.admin) or (not isAdmin and modeRepo.guest))%}
            <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                <a href="{% if modeRepo.url %}{{ modeRepo.url }}{% else %}{{ url(key, { 'system' : system}) }}{% endif %}"{% if modeRepo.url %} rel="external"{% endif %}><span>{{ modeRepo['menu']|trans|raw }}</span>{%
                        if modeRepo['menu'] == 'Changes' and gitAge <= gitNew %}<span class="new">&#9673;</span>{% endif
                    %}{%
                        if modeRepo['menu'] == 'CLE' %}<span class="cle" style="display:none">&#9673;</span>{% endif
                    %}</a>
            </li>
{% endif %}{% endfor %}
        </ul>
        <ul class="menu mode">
            {% for key, modeRepo in modes[1] %}{% if ((isAdmin and modeRepo.admin) or (not isAdmin and modeRepo.guest))%}
                <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                    <a href="{% if modeRepo.url %}{{ modeRepo.url }}{% else %}{{ url(key, { 'system' : system}) }}{% endif %}"{% if modeRepo.url %} rel="external"{% endif %}>
                        {{ modeRepo['menu']|trans|raw }}
                    </a>
                </li>
            {% endif %}{% endfor %}
        </ul>
{% if isAdmin %}
        <ul class="menu mode">
            {% for key, modeRepo in modes[2] %}
                {% if (access b-and modeRepo['access'])%}
                    <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
                        <a href="{{ url(key, { 'system' : system }) }}">{{ modeRepo['menu']|trans|raw }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}
{% if mode == 'Signals' %}{% include 'cle/banner.html.twig' %}

{% endif %}
{#        <ul class="menu language">#}
{#{% for key, label in languages %}#}
{#            <li{% if (_locale == key) %} class="is-active"{% endif %}>#}
{#                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : key})) }}">{{ label }}</a>#}
{#            </li>#}
{#{% endfor %}#}
{#        </ul>#}
    </div>
</nav>
{#{% set link = {#}
{#    'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1, 'textExtra' : cle.worldRange1TextExtra },#}
{#    'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2, 'textExtra' : cle.worldRange2TextExtra },#}
{#    'span' : [ 6, 4 ],#}
{#    'system' : system,#}
{#}%}#}