
<div class="menu-centered">
    <ul class="menu header">
        <li><h2>{{ systems[system]['title'] }}</h2></li>
    </ul>
    <ul class="menu system">
{% for key, systemRepo in systems %}
        <li{% if (system == key) %} class="is-active"{% endif %}>
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'system' : key})) }}">{{ systemRepo['menu'] }}</a>
        </li>
{% endfor %}
    </ul>
    <ul class="menu mode">
{% for key, modeRepo in modes %}
        <li{% if (app.request.get('_route') == key) %} class="is-active"{% endif %}>
            <a href="{{ url(key, { 'system' : system }) }}">{{ modeRepo['menu'] }}</a>
        </li>
{% endfor %}
    </ul>
</div>
