    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
        {{ form_start(form) }}
            <div id="form">
                {{ form_row(form.id)  }}
                {{ form_row(form._close)  }}
                <fieldset id="group_details">
                    <legend>{% trans %}Details{% endtrans %}</legend>
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    <div style="font-size: 80%; margin: 0 0 1em 14em">{% if id != false %}
                        <em>{% trans %}Leave blank except to change this{% endtrans %}</em>
                    {% endif %}</div>
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.access) }}
                    {{ form_row(form.active) }}
                </fieldset>
                <fieldset id="group_">
                    {{ form_row(form.close) }}
                    {% if isAdmin %}{{ form_row(form.save) }}{% else %}{{ form_row(form.save_disabled) }}{% endif %}
                    {% if isAdmin %}{{ form_row(form.saveClose) }}{% endif %}
                </fieldset>
            </div>
        {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>