{% if logsessions|length > 0 %}
<div>
    <table class="listener logsessions results short" style="width: 100%">
        <thead>
            <tr>
    {% for key, column in columns %}
    {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
                <th{% if key and column.order %} id="{{ key }}|{{ column.order }}"{% endif
    %}{%
        if column.th_class or column.sort
    %} class="{{ column.th_class }}{% if column.sort %} sort{% endif %}"{% endif %}{%
        if column.tooltip
    %} title="{{ column.tooltip }}"{%
        endif
    %}>{%
        if column.th_class == 'txt_vertical'
    %}<div>{{ column.label | trans | raw }}</div>{%
        else
    %}{{ column.label | trans | raw }}{%
        endif %}</th>{%
        endif
    %}
    {% endfor %}
            </tr>
        </thead>
        <tbody>
    {% for ls in logsessions %}
            <tr id="log_session_{{ ls.listenerId }}_{{ ls.id }}" title="{% trans %}Click to view logs for this session{% endtrans %}">
    {% for key, column in columns %}
        {% if ((not column.admin or isAdmin) and (not column.arg or (column.arg and column.arg in args.types))) %}
                <td{% if column.td_class %} class="{{ column.td_class }}"{% endif %}{%
                    if key == 'listener'
                %} title="{{ ls.primaryQth == 'Y' ? 'Primary Location' | trans : 'Secondary Location' | trans }}" class="{{ ls.primaryQth ? 'primaryQth' : 'secondaryQth' }} {{ column.td_class }}"{%
                    elseif column.td_class
                %} class="{{ column.td_class }}"{%
                    endif
                %}>
        {%
            if key == 'id'
        %}<a href="{{ url('logsession', { 'system' : system, 'id' : ls.id }) }}" data-popup="1" title="Click to {% if isAdmin %}edit{% else %}view{% endif %} this Log Session">{{ ls.id }}</a>{%
            elseif key == 'uploader' and isAdmin
        %}<a href="{{ url('user_logsessions', { 'system' : system, 'id' : ls.uploaderId }) }}" data-popup="1" title="Click to view Log Sessions uploaded by this Administrator">{{ ls.uploader|raw }}</a>{%
            elseif key == 'uploader' and not isAdmin
        %}{{ ls.uploader|raw }}{%
            elseif key == 'listener'
        %}<a href="{{ url('listener_logsessions', { 'system' : system, 'id' : ls.listenerId }) }}" data-popup="1" title="Click to view Log Sessions for this Listener Location">{{ ls.listener|raw }}</a>
            {% if ls.operator and ls.website %}
                <span {% if ls.active == 'Y' %}class="link" title="Click to access receiver"{% else %}class="inactive" title="Inactive receiver"{% endif %}>[<a href="{{ ls.website }}" data-popup="www_{{ ls.listenerId }}|width=800,height=640,status=1,scrollbars=1,resizable=1">RX Link</a>]</span>
            {% endif
        %}{%
            elseif key == 'signals'
        %}<a href="{{ url('logsession_signals', { 'system' : system, 'id' : ls.id }) }}" data-popup="1" title="Click to view Signals for this Log Session">{{ ls.signals }}</a>{%
            elseif key == 'map'
        %}<a href="{{ url('logsession_signalsmap', { 'system' : system, 'id' : ls.id }) }}" data-popup="1" title="View map of signals contained in this log session">{% trans %}Map{% endtrans %}</a>{%
            elseif key == 'logs'
        %}<a href="{{ url('logsession_logs', { 'system' : system, 'id' : ls.id }) }}" data-popup="1" title="Click to view Logs for this Log Session">{{ ls.logs }}</a>{%
            elseif key == 'operator'
        %}{%  if ls.operatorId %}<a href="{{ url('listener_remote_logsessions', { 'system' : system, 'id': ls.operatorId }) }}" data-popup="1" title="Click to view Remote Log Sessions for this operator">{{ ls.operator|raw }}</a>{% endif %}{%
            elseif key == 'delete' and isAdmin
        %}<a href="{{ url('logsession/delete', { 'system' : system, 'logSessionId' : ls.id }) }}" class="delete" onclick="return confirm(msg.del_log_session);">X</a>{%
            elseif key in ['logs', 'logsDgps', 'logsDsc', 'logsHambcn', 'logsNavtex', 'logsNdb', 'logsOther', 'logsTime']
        %}<strong>{{ attribute(ls, key) }}</strong>{%
            else
        %}{{ attribute(ls, column.field)|raw }}{%
            endif
        %}</td>
        {% endif %}
    {% endfor %}
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% include 'forms/pagingbottom.html.twig' %}
</div>
{% else %}
    <p class="no-results">(No log sessions match the criteria given)</p>
{% endif %}