{# Include our twig widget customisations #}
{% form_theme form 'forms/custom.html.twig' %}

{% extends 'main.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_logs' %}
    <div class="content scroll" id="list">
        {% include 'status.html.twig' %}
        {{ form_start(form) }}
        <div><fieldset id="logsessions_form">
                <legend class="sr-only">{% trans %}Paging and Filter Controls{% endtrans %}</legend>
                {{ form_widget(form.sort) }}
                {{ form_widget(form.order) }}
                {{ form_widget(form._token) }}
                {% if form.prev is defined %}
                    <div id="logsessions_paging">
                        {{ form_widget(form.limit) }}
                        {{ form_widget(form.prev) }}
                        {{ form_widget(form.next) }}
                        {{ form_widget(form.page) }}
                        <span id="form_paging_status"></span>
                    </div>
                {% else  %}
                    {{ form_widget(form.limit) }}
                    {{ form_widget(form.page) }}
                {% endif %}
                <div class="logSessionForm">
                    <div>
                        {{ form_label(form.comment) }}
                        {{ form_widget(form.comment) }}
                        {{ form_widget(form.go) }}
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location) }}
                        {{ form_widget(form.go2) }}
                    </div>

                </div>
                <div id="form"><div>{{ form_widget(form.type) }}</div></div>
            </fieldset>
        </div>

        <script>
            var paging = {
                limit: {{ results.limit }},
                page: {{ results.page }},
                total: {{ results.total }}
            }
        </script>
        {{ form_end(form, {'render_rest': false}) }}
        {% include 'log_sessions/grid.html.twig' %}
    </div>
    <h2>{% trans %}Logs Uploaded in Selected Session{% endtrans %} <sup>[
        <a id="section_logsessionlogs_show" style="display:none">{% trans %}Show{% endtrans %}</a>
        <a id="section_logsessionlogs_hide" style="display:none">{% trans %}Hide{% endtrans %}</a>
    ]</sup></h2>
    <div id="section_logsessionlogs" style="display:none">
    <div class="scroll" style="background: #fff" id="list2"></div>
    </div>
</div>
<script>
    logSessions.initFS(
        "{{ url('listener_logsession', { 'system' : system, 'id': 'XXX', 'logSessionId': 'YYY' }) }}",
        "{{ matched }}",
        115
    );
</script>
{% endblock %}
